{% extends 'layout.html.twig' %}

{% block title %}Depositos{% endblock %}

{% block section %}
    <h1>Listado de depositos</h1>
    <!--<a href="#" class="btn btn-success"><i class="fa fa-plus"></i> Añadir alumno</a>




    -->
    <p></p>
    <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th>Nº</th>
            <th>Capacidad</th>
            <th>Cantidad actual</th>
            <th>Amasadas</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for deposito in depositos %}
            <tr>
                <td>{{ deposito.id }}</td>
                <td>{{ deposito.capacidad }}</td>
                <td>{{ deposito.contenido }}</td>
                <td><select name="slAmasadas" id="slAmasadas">
                        <option value="0"></option>
                        {% for amasada in deposito.amasadas %}
                            <option value="{{ amasada.id }}">{{ amasada.id }}</option>
                        {% endfor %}
                    </select></td>
                <td>
                    <a href="#" class="btn btn-xs btn-success col-sm-6" title="Listado de fincas del socio">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                    </a>
                    <a href="#" class="btn btn-xs btn-info col-sm-6" title="Modificar datos del socio">
                        <i class="fa fa-pencil"></i>
                    </a>
                    <a href="#" class="btn btn-xs btn-danger col-sm-6" title="Dar de baja">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}