{% extends 'layout.html.twig' %}

{% block title %}Liquidaciones{% endblock %}

{% block section %}
    <div class="container">
        <h2>Liquidación</h2>
        <h3>Socio: {{ socio }}</h3>
        <a href="{{ path('principal') }}" class="btn btn-default">
            <i class="fa fa-chevron-left"></i> Anterior
        </a>
    </div>
    <div class="container">
        <table class="table table-bordered table-striped table-hover">
            <tr>
                <td>Temporada</td><td>{{ temporada }}</td>
            </tr>
            <tr>
                <td>Fecha</td>
                <td>{% if liquidacion[0].fecha != null %}
                        {{ liquidacion[0].fecha|date('d/m/Y') }}
                    {% else %}
                        Provisional
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>
    <div class="container">
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th colspan="2">GANANCIAS</th>
                    <th colspan="2">DEDUCCIONES</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Kg Aceituna</td>
                    <td>{{ pesoAceituna }}</td>
                    <td>Base imponible €</td>
                    <td>{{ sumaVentas }}</td>
                </tr>
                <tr>
                    <td>Rendimiento medio %</td>
                    <td>{{ rendimientoMedio * 100 }}</td>
                <tr>
                    <td>Kg Aceite</td>
                    <td>{{ pesoAceite }}</td>
                </tr>
                <tr>
                    <td>€/kg Aceite</td>
                    <td>{{ precioLiquidacion }}</td>
                </tr>
                <tr>
                    <td>Bonificaciones €</td>
                    <td>{{ sumaBonificacion }}</td>
                </tr>
                <tr>
                    <td>Base imponible €</td>
                    <td>{% set baseImponible = (pesoAceite * precioLiquidacion) + sumaBonificacion %}
                        {{ baseImponible }}
                    </td>
                </tr>
                <tr>
                    <td>IVA {{ porcentajes[1].cantidad * 100 }}%</td>
                    <td>{{ baseImponible * porcentajes[1].cantidad }}</td>
                    <td>IVA {{ porcentajes[1].cantidad * 100 }}%</td>
                    <td>{{ sumaVentas * porcentajes[1].cantidad }}</td>
                </tr>
                <tr>
                    <td>Retención {{ porcentajes[2].cantidad * 100 }}%</td>
                    <td>- {{ baseImponible * porcentajes[2].cantidad }}</td>
                </tr>
                <tr>
                    <td>Importe €</td>
                    <td>{% set importe = (baseImponible) * (1 + porcentajes[1].cantidad) - (baseImponible * porcentajes[2].cantidad) %}
                        {{ importe }}
                    </td>
                    <td>A deducir</td>
                    <td>{{ sumaVentas * (1 + porcentajes[1].cantidad) }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="container">
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>IMPORTE TOTAL</th>
                    <td>{{ importe - sumaVentas * (1 + porcentajes[1].cantidad) }} €</td>
                </tr>
            </thead>
        </table>
    </div>
{% endblock %}