{% extends 'layout.html.twig' %}

{% block title %}Liquidaciones{% endblock %}

{% block section %}
    <div class="container">
        <h2>Liquidación</h2>
        <h2>Socio: {{ socio }}</h2>
    </div>
    <div class="container">
        <table class="table table-bordered table-striped table-hover">
            <tr>
                <td>Temporada</td><td>{{ temporada }}</td>
            </tr>
            <tr>
                <td>Fecha</td>
                <td>{#{% if liquidacion.fecha != null %}
                        {{ liquidacion.fecha|date('d/m/Y') }}
                    {% else %}
                        Provisional
                    {% endif %}#}
                </td>
            </tr>
        </table>
    </div>
    <div class="container">
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th colspan="2">GANANCIAS</th>
                    <th colspan="2">DEDUCCIONES</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Kg Aceituna</td>
                    <td>{{ pesoAceituna }}</td>
                    <td>Base imponible €</td>
                    <td>{{ sumaVentas }}</td>
                </tr>
                <tr>
                    <td>Rendimiento medio %</td>
                    <td>{{ rendimientoMedio * 100 }}</td>
                <tr>
                    <td>Kg Aceite</td>
                    <td>{{ pesoAceite }}</td>
                </tr>
                <tr>
                    <td>€/kg Aceite</td>
                    <td>{{ precioLiquidacion }}</td>
                </tr>
                <tr>
                    <td>Bonificaciones €</td>
                    <td>{{ sumaBonificacion }}</td>
                </tr>
                <tr>
                    <td>Base imponible €</td>
                    <td>{{ (pesoAceite * precioLiquidacion) + sumaBonificacion }}</td>
                </tr>
                <tr>
                    <td>IVA %</td>
                    <td>{{ porcentajes[1].cantidad * 100 }}</td>
                    <td>IVA</td>
                    <td>{{ porcentajes[1].cantidad * 100 }}</td>
                </tr>
                <tr>
                    <td>Retención %</td>
                    <td>- {{ porcentajes[2].cantidad * 100 }}</td>
                </tr>
                <tr>
                    <td>Importe €</td>
                    <td>{% set importe = (pesoAceite * precioLiquidacion) * (1 + porcentajes[1].cantidad) - (pesoAceite * precioLiquidacion * porcentajes[2].cantidad) %}
                        {{ importe }}
                    </td>
                    <td>A deducir</td>
                    <td>{{ sumaVentas * (1 + porcentajes[1].cantidad) }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="container">
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>IMPORTE TOTAL</th>
                    <td>{{ (sumaEntregas * (1 + porcentajes[1].cantidad) - (sumaEntregas * porcentajes[2].cantidad)) - (sumaVentas * (1 + porcentajes[1].cantidad))}} €</td>

                </tr>
            </thead>
        </table>
    </div>
{% endblock %}