{% extends 'layout.html.twig' %}

{% block title %}Liquidaciones{% endblock %}

{% block section %}
    <div class="container">
        <div class="well">
            <h2>Liquidaciones</h2>
            <div class="division"></div>
            <h3>Temporada: {{ temporada }}</h3>
        </div>
        <a href="{{ path('principal') }}" class="btn btn-default btnAceptar">
            <i class="fa fa-home"></i> Ir a principal
        </a>
        <a href="{{ path('temporadas_listar') }}" class="btn btn-default btnAceptar">
            <i class="fa fa-calendar"></i> Liquidaciones anteriores
        </a>
    </div>
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th>Nº</th>
                <th>Socio</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for liquidacion in liquidaciones %}
                <tr>
                    <td>{{ liquidacion.id }}</td>
                    <td>{{ liquidacion.socio }}</td>
                    <td>
                        <a href="{{ path('liquidaciones_detalle', {'socio' : liquidacion.socio.id, 'temporada' : temporada.id}) }}" class="btn btn-default btnAceptar">
                            <i class="fa fa-search"></i> Detalle
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}