{% trans_default_domain 'footer' %}
<ul class="listaEnlacesExteriores">
    <li>
        <a href="http://www.asaja.com/" target="_blank">
            <img src="{{ asset('images/asaja.png') }}" alt="Asaja" title="{{ 'footer.asaja'|trans }}">
        </a>
    </li>
    <li>
        <a href="http://www.juntadeandalucia.es/organismos/agriculturapescaydesarrollorural.html" target="_blank">
            <img src="{{ asset('images/consejeria.png') }}"
                 alt="Consejería de Agricultura, Pesca y Desarrollo Rural"
                 title="{{ 'footer.junta'|trans }}">
        </a>
    </li>
    <li>
        <a href="http://www.mapama.gob.es/es/" target="_blank">
            <img src="{{ asset('images/ministerio.gif') }}"
                 alt="Ministerio de Agricultura, Pesca y Alimentación"
                 title="{{ 'footer.ministerio'|trans }}">
        </a>
    </li>
</ul>
