{% extends 'layout.html.twig' %}

{% block title %}Fincas{% endblock %}

{% block section %}
    {% include 'flash.html.twig' %}
    <div class="container">
        <div class="well">
            {% if is_granted('ROLE_ADMINISTRADOR') %}
                <h2>Fincas</h2>
            {% else %}
                <h2>Fincas del socio {{ app.user }}</h2>
            {% endif %}
        </div>
        <a href="{{ path('principal') }}" class="btn btn-default btnAceptar">
            <i class="fa fa-home"></i> Ir a principal
        </a>
        <a href="{{ path('fincas_nueva') }}" class="btn btn-default btnAceptar">
            <i class="fa fa-plus"></i> Nueva finca
        </a>
    </div>
    <div class="container well">
        <table class="table table-responsive">
            <thead>
            <tr>
                <th>Referencia catastral</th>
                <th>Propietario</th>
                <th>% prop.</th>
                <th>Arrendatario</th>
                <th>% arr.</th>
                <th>Variedad</th>
                <th>Nº Plantas</th>
                <th>Regadío</th>
                {% if is_granted('ROLE_ADMINISTRADOR') %}
                <th></th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% set parametro = 0 %}
            {% for finca in fincas %}
                {% if finca.municipio < 100 %}
                    {% set refCatastral = finca.provincia ~ 0 ~ finca.municipio ~ finca.sector ~ finca.poligono ~ finca.parcela ~ finca.idInmueble ~ finca.caracterControl %}
                {% else %}
                    {% set refCatastral = finca.provincia ~ finca.municipio ~ finca.sector ~ finca.poligono ~ finca.parcela ~ finca.idInmueble ~ finca.caracterControl %}
                {% endif %}
                <tr class="clickable-row">
                    <td>
                        <a href="https://www1.sedecatastro.gob.es/CYCBienInmueble/OVCConCiud.aspx?UrbRus=R&RefC={{ refCatastral }}&esBice=&RCBice1=&RCBice2=&DenoBice=&del={{ finca.provincia }}&mun={{ finca.municipio }}"
                           target="_blank" title="ir a los datos catastrales">
                            {{ refCatastral }}
                        </a>
                    </td>
                    <td>
                        {{ finca.propietario }}
                    </td>
                    <td>{{ finca.partPropietario * 100 }} %</td>
                    <td>{% if finca.arrendatario != null %}
                            {{ finca.arrendatario }}
                        {% endif %}
                    </td>
                    <td>{{ finca.partArrend * 100 }} %</td>
                    <td>{{ finca.variedad }}</td>
                    <td>{{ finca.numPlantas }}</td>
                    <td>{% if finca.regadio == 1 %}
                            Sí
                        {% else %}
                            No
                        {% endif %}
                    </td>
                    {% if is_granted('ROLE_ADMINISTRADOR') %}
                        <td>
                            <a href="{{ path('fincas_modificar', {'finca' : finca.id }) }}" class="btn btn-default btnAceptar btnOculto" title="Modificar datos">
                                <i class="fa fa-pencil"></i>
                            </a>
                            {% set parametro = finca.id %}
                            <a type="button" class="btn btn-default btnAceptar btnOculto" data-toggle="modal" data-target="#fincas_eliminar" title="Dar de baja">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Ventana modal -->
    <div class="modal fade" id="fincas_eliminar" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Vas a eliminar una finca</h4>
                </div>
                <div class="modal-body">
                    <p>¿Deseas continuar?</p>
                </div>
                <div class="modal-footer">
                    <form action="{{ path('confirmar_fincas_eliminar', {'finca' : parametro}) }}" method="post" name="confirmar">
                        <button type="submit" name="aceptar" class="btn btn-default btnAceptar">
                            <i class="fa fa-check"></i> Aceptar
                        </button>
                        <button type="button" name="cancelar" class="btn btn-default btnCancelar" data-dismiss="modal">
                            <i class="fa fa-times"></i> Cancelar
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% block javascripts %}
        <script src="{{ asset('script/flash.js') }}"></script>
        <script src="{{ asset('script/seleccionar_fila.js') }}"></script>
    {% endblock %}
{% endblock %}