{% extends 'layout.html.twig' %}

{% block title %}Fincas{% endblock %}

{% block section %}
    <h2>Fincas</h2>
    <!--<a href="#" class="btn btn-success"><i class="fa fa-plus"></i> Añadir alumno</a>




    -->
    <p></p>
    <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th>Referencia catastral</th>
            <th>Propietario</th>
            <th>% prop.</th>
            <th>Arrendatario</th>
            <th>% arr.</th>
            <th>Variedad</th>
            <th>Nº Plantas</th>
            <th>Regadío</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for finca in fincas %}
            {% if finca.municipio < 100 %}
                {% set refCatastral = finca.provincia ~ 0 ~ finca.municipio ~ finca.sector ~ finca.poligono ~ finca.parcela ~ finca.idInmueble ~ finca.caracterControl %}
            {% else %}
                {% set refCatastral = finca.provincia ~ finca.municipio ~ finca.sector ~ finca.poligono ~ finca.parcela ~ finca.idInmueble ~ finca.caracterControl %}
            {% endif %}
            <tr>
                <td>
                    <a href="https://www1.sedecatastro.gob.es/CYCBienInmueble/OVCConCiud.aspx?UrbRus=R&RefC={{ refCatastral }}&esBice=&RCBice1=&RCBice2=&DenoBice=&del={{ finca.provincia }}&mun={{ finca.municipio }}"
                       target="_blank" title="ir a los datos catastrales">
                        {{ refCatastral }}
                    </a>
                </td>
                <td>
                    <a href="#" title="ir a la ficha del socio">
                        {{ finca.propietario }}
                    </a>
                </td>
                <td>{{ finca.partPropietario * 100 }} %</td>
                <td>{% if finca.arrendatario != null %}
                        <a href="#" title="ir a la ficha del socio">{{ finca.arrendatario }}</a>
                    {% endif %}
                </td>
                <td>{{ finca.partArrend * 100 }} %</td>
                <td>{{ finca.variedad }}</td>
                <td>{{ finca.numPlantas }}</td>
                <td>{% if finca.regadio == 1 %}
                        Sí
                    {% else %}
                        No
                    {% endif %}
                </td>
                <td>
                    <a href="#" class="btn btn-xs btn-success col-sm-6" title="Listado de fincas del socio">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                    </a>
                    <a href="#" class="btn btn-xs btn-info col-sm-6" title="Modificar datos del socio">
                        <i class="fa fa-pencil"></i>
                    </a>
                    <a href="#" class="btn btn-xs btn-danger col-sm-6" title="Dar de baja">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div id="mapa"></div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('fincas.js') }}"></script>
{% endblock %}