{% extends 'layout.html.twig' %}

{% block title %}Fincas{% endblock %}

{% block section %}
    <div class="container">
        <h2>Fincas</h2>
        <a href="{{ path('principal') }}" class="btn btn-default">
            <i class="fa fa-home"></i> Ir a principal
        </a>
        <a href="{{ path('principal') }}" class="btn btn-default">
            <i class="fa fa-plus"></i> Nueva finca
        </a>
    </div>
    <div class="container">
        <table class="table table-bordered table-striped table-hover">
            <thead>
            <tr>
                <th>Referencia catastral</th>
                <th>Propietario</th>
                <th>% prop.</th>
                <th>Arrendatario</th>
                <th>% arr.</th>
                <th>Variedad</th>
                <th>Nº Plantas</th>
                <th>Regadío</th>
            </tr>
            </thead>
            <tbody>
            {% for finca in fincas %}
                {% if finca.municipio < 100 %}
                    {% set refCatastral = finca.provincia ~ 0 ~ finca.municipio ~ finca.sector ~ finca.poligono ~ finca.parcela ~ finca.idInmueble ~ finca.caracterControl %}
                {% else %}
                    {% set refCatastral = finca.provincia ~ finca.municipio ~ finca.sector ~ finca.poligono ~ finca.parcela ~ finca.idInmueble ~ finca.caracterControl %}
                {% endif %}
                <tr>
                    <td>
                        <a href="https://www1.sedecatastro.gob.es/CYCBienInmueble/OVCConCiud.aspx?UrbRus=R&RefC={{ refCatastral }}&esBice=&RCBice1=&RCBice2=&DenoBice=&del={{ finca.provincia }}&mun={{ finca.municipio }}"
                           target="_blank" title="ir a los datos catastrales">
                            {{ refCatastral }}
                        </a>
                    </td>
                    <td>
                        <a href="#" title="ir a la ficha del socio">
                            {{ finca.propietario }}
                        </a>
                    </td>
                    <td>{{ finca.partPropietario * 100 }} %</td>
                    <td>{% if finca.arrendatario != null %}
                            <a href="#" title="ir a la ficha del socio">{{ finca.arrendatario }}</a>
                        {% endif %}
                    </td>
                    <td>{{ finca.partArrend * 100 }} %</td>
                    <td>{{ finca.variedad }}</td>
                    <td>{{ finca.numPlantas }}</td>
                    <td>{% if finca.regadio == 1 %}
                            Sí
                        {% else %}
                            No
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}