{% extends 'layout.html.twig' %}

{% block title %}Fincas{% endblock %}

{% block section %}
    {% include 'flash.html.twig' %}
    <div class="container">
        <div class="well">
            <h2>Fincas</h2>
            {% if propietario != false %}
                <div class="division"></div>
                <h3>Propietario: {{ propietario }}</h3>
            {% elseif arrendatario != false %}
                <div class="division"></div>
                <h3>Arrendatario: {{ arrendatario }}</h3>
            {% elseif lote != false %}
                <div class="division"></div>
                <h3>Lote: {{ lote }}</h3>
            {% endif %}
        </div>
        {% if lote == false %}
            <a href="{{ path('principal') }}" class="btn btn-default btnAceptar">
                <i class="fa fa-home"></i> Ir a principal
            </a>
        {% else %}
            <a href="{{ app.request.headers.get('referer') }}" class="btn btn-default btnAceptar">
                <i class="fa fa-chevron-left"></i> Volver
            </a>
        {% endif %}
        {% if is_granted('ROLE_ADMINISTRADOR') %}
            <a href="{{ path('fincas_nueva') }}" class="btn btn-default btnAceptar">
                <i class="fa fa-plus"></i> Nueva finca
            </a>
        {% endif %}
    </div>
    <div class="container well">
        {% if is_granted('ROLE_ADMINISTRADOR') %}
            <form action="{{ path('fincas_buscar') }}" id="buscar">
                <input type="text" name="buscar" placeholder="Buscar...">
                <button type="submit" class="btn btn-default btnAceptar" title="Buscar">
                    <i class="fa fa-search"></i>
                </button>
                <a href="{{ path('fincas_listar') }}" class="btn btn-default btnAceptar" title="Mostrar todos">
                    <i class="fa fa-list-ul"></i>
                </a>
            </form>
        {% endif %}
        <table class="table table-responsive">
            <thead>
            <tr>
                <th>Denominación</th>
                <th>Propietario</th>
                <th>% prop.</th>
                <th>Arrendatario</th>
                <th>% arr.</th>
                <th>Variedad</th>
                <th>Nº Plantas</th>
                <th>Regadío</th>
                {% if is_granted('ROLE_ADMINISTRADOR') %}
                <th></th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for finca in pagination %}
                {% if finca.municipio < 100 %}
                    {% set refCatastral = finca.provincia ~ 0 ~ finca.municipio ~ finca.sector ~ finca.poligono ~ finca.parcela ~ finca.idInmueble ~ finca.caracterControl %}
                {% else %}
                    {% set refCatastral = finca.provincia ~ finca.municipio ~ finca.sector ~ finca.poligono ~ finca.parcela ~ finca.idInmueble ~ finca.caracterControl %}
                {% endif %}
                <tr class="clickable-row" title="Ref. Catastral: {{ refCatastral }}">
                    <td>
                        <a href="https://www1.sedecatastro.gob.es/CYCBienInmueble/OVCConCiud.aspx?UrbRus=R&RefC={{ refCatastral }}&esBice=&RCBice1=&RCBice2=&DenoBice=&del={{ finca.provincia }}&mun={{ finca.municipio }}"
                           target="_blank" title="ir a los datos catastrales">
                            {{ finca.denominacion }}
                        </a>
                    </td>
                    <td>
                        {{ finca.propietario }}
                    </td>
                    <td>{{ finca.partPropietario * 100 }} %</td>
                    <td>{% if finca.arrendatario != null %}
                            {{ finca.arrendatario }}
                        {% endif %}
                    </td>
                    <td>{{ finca.partArrend * 100 }} %</td>
                    <td>{{ finca.variedad }}</td>
                    <td>{{ finca.numPlantas }}</td>
                    <td>{% if finca.regadio == 1 %}
                            Sí
                        {% else %}
                            No
                        {% endif %}
                    </td>
                    {% if is_granted('ROLE_ADMINISTRADOR') %}
                        <td class="celdaBoton">
                            <a href="{{ path('fincas_modificar', {'finca' : finca.id }) }}" class="btn btn-default btnAceptar btnOculto" title="Modificar datos">
                                <i class="fa fa-pencil"></i>
                            </a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="container">
        <div class="col-md-6 col-md-offset-3">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
    {% block javascripts %}
        <script src="{{ asset('script/flash.js') }}"></script>
        <script src="{{ asset('script/seleccionar_fila.js') }}"></script>
    {% endblock %}
{% endblock %}