<div class="container">
    <h2 class="well">Factura</h2>
    {% if venta.cerrada == true %}
        <a href="{{ app.request.headers.get('referer') }}" class="btn btn-default btnAceptar">
            <i class="fa fa-chevron-left"></i> Volver
        </a>
    {% else %}
        <a href="{{ path('ventas_listar_usuario', {'id' : persona.id }) }}" class="btn btn-default btnAceptar">
            <i class="fa fa-cart-arrow-down"></i> Ir a ventas
        </a>
    {% endif %}
    {% if (is_granted('ROLE_COMERCIAL') or is_granted('ROLE_DEPENDIENTE') or app.user.nif == persona.nif) and venta.cerrada == true %}
        <a href="{{ path('ventas_imprimir', {'venta' : venta.id}) }}" class="btn btn-default btnAceptar">
            <i class="fa fa-file-pdf-o"></i> Descargar PDF
        </a>
    {% endif %}
</div>
<div class="container well">
    <table class="table table-responsive">
        <tr>
            <td>Factura Nº</td>
            <td>{% if venta.numero < 10 %}
                    0{{ venta.numero }}-{{ venta.fecha|date('Y') }}
                {% else %}
                    {{ venta.numero }}-{{ venta.fecha|date('Y') }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Fecha</td><td>{{ venta.fecha|date('d/m/Y') }}</td>
        </tr>
    </table>
</div>
<div class="container well">
    <h3>Datos del cliente</h3>
    <table class="table table-responsive">
        <tr><td>Nombre/Razón social</td><td>{{ persona }}</td></tr>
        <tr><td>NIF</td><td>{{ persona.nif }}</td></tr>
        <tr><td>Direccion</td><td>{{ persona.direccion }}</td></tr>
        <tr><td>Localidad</td><td>{{ persona.localidad }}</td></tr>
        <tr><td>Código Postal</td><td>{{ persona.codigoPostal }}</td></tr>
        <tr><td>Provincia</td><td>{{ persona.provincia }}</td></tr>
    </table>
</div>
<div class="container well">
    {% if venta.cerrada == false %}
        <a href="{{ path('ventas_lineas_nueva', {'venta' : venta.id }) }}" class="btn btn-default btnAceptar" title="Añadir conceptos">
            <i class="fa fa-plus"></i>
        </a>
        {% if is_granted('ROLE_COMERCIAL') or is_granted('ROLE_DEPENDIENTE') %}
            <a href="{{ path('ventas_cerrar', {'venta' : venta.id }) }}" class="btn btn-default btnAceptar" title="Cerrar venta">
                <i class="fa fa-check"></i>
            </a>
        {% endif %}
    {% endif %}
    <table class="table table-bordered table-responsive">
        <thead>
        <tr>
            <th>Cantidad</th>
            <th>Concepto</th>
            <th>Precio</th>
            <th>Importe</th>
            {% if venta.cerrada == false %}
                <th></th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% set total = 0 %}
        {% for linea in lineas %}
            <tr>
                <td>{{ linea.cantidad }}</td>
                <td>{% if linea.producto != null %}
                        {{ linea.producto }}
                    {% else %}
                        {{ linea.lote.aceite }} - Lote: {{ linea.lote }}
                    {% endif %}
                </td>
                <td>{{ linea.precio|number_format(2, ',', '.') }}</td>
                <td>{% set totalLinea = linea.cantidad * linea.precio %}
                    {% set total = total + totalLinea %}
                    {{ totalLinea|number_format(2, ',', '.') }}
                </td>
                {% if venta.cerrada == false %}
                    <td>
                        <a href="{{ path('lineas_eliminar', {'linea' : linea.id, 'venta' : venta.id }) }}" class="btn btn-default btnAceptar" title="Eliminar línea">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
        <tr></tr>
        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td>Suma €</td>
                <td>{{ total|number_format(2, ',', '.') }}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>Descuento %</td>
                <td>{{ persona.descuento * 100 }}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>Base Imponible €</td>
                <td>{% set baseImponible = total - (total * persona.descuento) %}
                    {{ baseImponible|number_format(2, ',', '.') }}
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>IVA %</td>
                <td>{{ venta.iva * 100 }}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>Total €</td>
                <td>{{ (baseImponible * (1 + venta.iva))|number_format(2, ',', '.') }}</td>
            </tr>
        </tfoot>
    </table>
</div>
