{% extends 'layout.html.twig' %}

{% block title %}Ventas{% endblock %}

{% block section %}
    <div class="container">
        <h2 class="well">Factura</h2>
        <a href="{{ path('principal') }}" class="btn btn-default btnAceptar">
            <i class="fa fa-home"></i> Ir a principal
        </a>
    </div>
    <div class="container well">
        <table class="table table-responsive">
            <tr>
                <td>Factura Nº</td><td>{{ ventas[0].numero }}-{{ ventas[0].fecha|date('Y') }}</td>
            </tr>
            <tr>
                <td>Fecha</td><td>{{ ventas[0].fecha|date('d/m/Y') }}</td>
            </tr>
        </table>
    </div>
    <div class="container well">
        <h3>Datos del cliente</h3>
        <table class="table table-responsive">
            <tr><td>Nombre/Razón social</td><td>{{ persona }}</td></tr>
            <tr><td>NIF</td><td>{{ persona.nif }}</td></tr>
            <tr><td>Direccion</td><td>{{ persona.direccion }}</td></tr>
            <tr><td>Localidad</td><td>{{ persona.localidad }}</td></tr>
            <tr><td>Código Postal</td><td>{{ persona.codigoPostal }}</td></tr>
            <tr><td>Provincia</td><td>{{ persona.provincia }}</td></tr>
        </table>
    </div>
    <div class="container well">
        <table class="table table-bordered table-responsive">
            <thead>
            <tr>
                <th>Cantidad</th>
                <th>Concepto</th>
                <th>Precio</th>
                <th>Importe</th>
            </tr>
            </thead>
            <tbody>
            {% set total = 0 %}
            {% for linea in lineas %}
                <tr>
                    <td>{{ linea.cantidad }}</td>
                    <td>{% if linea.producto != null %}
                            {{ linea.producto }}
                        {% else %}
                            {{ linea.lote.aceite }} - Lote: {{ linea.lote }}
                        {% endif %}
                    </td>
                    <td>{% if linea.producto != null %}
                            {% set precio = linea.producto.precio %}
                        {% else %}
                            {% set precio = linea.lote.aceite.precioKg * linea.lote.aceite.densidadKgLitro %}
                        {% endif %}
                        {{ precio }}
                    </td>
                    <td>{% set totalLinea = linea.cantidad * precio %}
                        {% set total = total + totalLinea %}
                        {{ totalLinea }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tr></tr>
            <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Suma €</td>
                    <td>{{ total }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Descuento %</td>
                    <td>{{ persona.descuento * 100 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Base Imponible €</td>
                    <td>{% set baseImponible = total - (total * persona.descuento) %}
                        {{ baseImponible }}
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>IVA %</td>
                    <td>{{ ventas[0].iva * 100 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Total €</td>
                    <td>{{ baseImponible * (1 + ventas[0].iva) }}</td>
                </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}