{% extends 'layout.html.twig' %}

{% block title %}Ventas{% endblock %}

{% block section %}
    <h1>Venta Nº {{ venta.id }}</h1>
    <!--<a href="#" class="btn btn-success"><i class="fa fa-plus"></i> Añadir alumno</a>




    -->
    <p></p>
    <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th>Cantidad</th>
            <th>Concepto</th>
            <th>Precio</th>
            <th>Lote</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for linea in lineas %}
            <tr>
                <td>{{ linea.cantidad }}</td>
                <td>{{ linea.lote.amasadas[0].aceite }}</td>
                <td>0</td>
                <td>{% if linea.lote.id < 10 %}
                        0{{ linea.lote.id }}-{{ linea.lote.temporada }}
                    {% else %}
                        {{ linea.lote.id }}-{{ linea.lote.temporada }}
                    {% endif %}
                </td>
                <td>
                    <a href="#" class="btn btn-xs btn-success col-sm-6" title="Listado de fincas del socio">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                    </a>
                    <a href="#" class="btn btn-xs btn-info col-sm-6" title="Modificar datos del socio">
                        <i class="fa fa-pencil"></i>
                    </a>
                    <a href="#" class="btn btn-xs btn-danger col-sm-6" title="Dar de baja">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}