{% extends 'layout.html.twig' %}

{% block title %}Ventas{% endblock %}

{% block section %}
    <h1>Venta Nº {{ venta.id }}</h1>
    <!--<a href="#" class="btn btn-success"><i class="fa fa-plus"></i> Añadir alumno</a>




    -->
    <p></p>
    <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th>Cantidad</th>
            <th>Concepto</th>
            <th>Precio</th>
            <th>Total</th>
            <th>Lote</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% set total = 0 %}
        {% for linea in lineas %}
            <tr>
                <td>{{ linea.cantidad }}</td>
                <td>{{ linea.producto }}</td>
                <td>
                    {% set precio = linea.producto.lotes[0].aceite.precioKg * linea.producto.lotes[0].aceite.densidadKgLitro (1 + linea.producto.envase.incremento) %}
                    {{ precio }}
                </td>
                <td>{% set totalLinea = linea.cantidad * precio %}
                    {% set total = total + totalLinea %}
                    {{ totalLinea }}
                </td>
                <td>{#{% if linea.lote.id != null %}
                        {% if linea.lote.id < 10 %}
                            0{{ linea.lote.id }}-{{ linea.lote.temporada }}
                        {% else %}
                            {{ linea.lote.id }}-{{ linea.lote.temporada }}
                        {% endif %}
                    {% else %}#}
                </td>
                <td>
                    <a href="#" class="btn btn-xs btn-success col-sm-6" title="Listado de fincas del socio">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                    </a>
                    <a href="#" class="btn btn-xs btn-info col-sm-6" title="Modificar datos del socio">
                        <i class="fa fa-pencil"></i>
                    </a>
                    <a href="#" class="btn btn-xs btn-danger col-sm-6" title="Dar de baja">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div>total = {{ total }}</div>
{% endblock %}