{% extends 'layout.html.twig' %}

{% block title %}Ventas{% endblock %}

{% block section %}
    <div class="container">
        {% if app.session.flashBag.has('estado') %}
            {% set mensajes = app.session.flashBag.get('estado') %}
            {% for mensaje in mensajes %}
                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Cerrar"><span aria-hidden="true">&times;</span></button>
                    {{ mensaje }}
                </div>
            {% endfor %}
        {% endif %}
        {% if app.session.flashBag.has('error') %}
            {% set mensajes = app.session.flashBag.get('error') %}
            {% for mensaje in mensajes %}
                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Cerrar"><span aria-hidden="true">&times;</span></button>
                    {{ mensaje }}
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="container">
        <h2>Ventas</h2>
        {% if temporada != null %}
            <h3>Temporada: {{ temporada }}</h3>
        {% endif %}
        <a href="{{ path('principal') }}" class="btn btn-default">
            <i class="fa fa-home"></i> Ir a principal
        </a>
        <a href="{{ path('ventas_nueva') }}" class="btn btn-default">
            <i class="fa fa-plus"></i> Nueva venta
        </a>
    </div>
    <div class="container">
        <table class="table table-bordered table-striped table-hover">
            <thead>
            <tr>
                <th>Nº</th>
                <th>Comprador</th>
                <th>Fecha</th>
                <th>Base Imponible €</th>
                <th>IVA %</th>
                <th>Importe €</th>
            </tr>
            </thead>
            <tbody>
            {% for venta in ventas %}
                <tr>
                    <td>{{ venta.numero }}-{{ venta.fecha|date('Y') }}</td>
                    <td>{{ venta.usuario }}</td>
                    <td>{{ venta.fecha|date('d/m/Y') }}</td>
                    <td>{% set baseImponible = venta.suma - (venta.suma * venta.descuento) %}
                        {{ baseImponible}}
                    </td>
                    <td>{{ venta.iva * 100 }}</td>
                    <td>{{ baseImponible * (1 + venta.iva) }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}