{% extends 'layout.html.twig' %}

{% block title %}Ventas{% endblock %}

{% block section %}
    {% include 'flash.html.twig' %}
    <div class="container">
        <div class="well">
            <h2>Ventas</h2>
            {% if temporada != false %}
                <div class="division"></div>
                <h3>Temporada: {{ temporada }}</h3>
            {% endif %}
        </div>
        <a href="{{ path('principal') }}" class="btn btn-default btnAceptar">
            <i class="fa fa-home"></i> Ir a inicio
        </a>
        <a href="{{ path('ventas_nueva', {'usuario': usuario.id}) }}" class="btn btn-default btnAceptar">
            <i class="fa fa-plus"></i> Nueva venta
        </a>
        {% if usuario.rolSocio == true %}
            <a href="{{ path('ventas_principal', {'id' : app.user.socio.id}) }}" class="btn btn-default btnAceptar">
                <i class="fa fa-calendar"></i> Temporadas anteriores
            </a>
        {% endif %}
    </div>
    <div class="container well">
        <table class="table table-responsive">
            <thead>
            <tr>
                <th>Nº</th>
                <th>Comprador</th>
                <th class="col-sm-3 sortable">
                    {{ knp_pagination_sortable(pagination, 'Fecha', 'a.fecha') }}
                </th>
                <th>Base Imponible €</th>
                <th>IVA %</th>
                <th>Importe €</th>
                {% if is_granted('ROLE_COMERCIAL') or is_granted('ROLE_DEPENDIENTE') %}
                    <th></th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for venta in pagination %}
                {% if is_granted('ROLE_COMERCIAL') or is_granted('ROLE_DEPENDIENTE') %}
                    <tr class="clickable-row">
                {% else %}
                    <tr>
                {% endif %}
                    <td>{% if venta.numero < 10 %}
                         0{{ venta.numero }}-{{ venta.fecha|date('Y') }}
                        {% else %}
                            {{ venta.numero }}-{{ venta.fecha|date('Y') }}
                        {% endif %}
                    </td>
                    <td>{{ venta.usuario }}</td>
                    <td>{{ venta.fecha|date('d/m/Y') }}</td>
                    <td>{% set baseImponible = venta.suma - (venta.suma * venta.descuento) %}
                        {{ baseImponible|number_format(2, ',', '.') }}
                    </td>
                    <td>{{ venta.iva * 100 }}</td>
                    <td>{{ (baseImponible * (1 + venta.iva))|number_format(2, ',', '.') }}</td>
                    {% if is_granted('ROLE_COMERCIAL') or is_granted('ROLE_DEPENDIENTE') %}
                        <td>
                            {% if venta.cerrada != true %}
                                <a href="{{ path('ventas_lineas_nueva', {'venta' : venta.id }) }}" class="btn btn-default btnAceptar btnOculto" title="Añadir conceptos">
                                    <i class="fa fa-plus"></i>
                                </a>
                            {% endif %}
                            <a href="{{ path('ventas_detalle', {'venta' : venta.id }) }}" class="btn btn-default btnAceptar btnOculto" title="Detalle">
                                <i class="fa fa-search"></i>
                            </a>
                            {% if venta.cerrada == false %}
                                <a href="{{ path('ventas_cerrar', {'venta' : venta.id }) }}" class="btn btn-default btnAceptar btnOculto" title="Cerrar venta">
                                    <i class="fa fa-check"></i>
                                </a>
                            {% endif %}
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="container">
        <div class="col-md-6 col-md-offset-3">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
    {% block javascripts %}
        <script src="{{ asset('script/flash.js') }}"></script>
        <script src="{{ asset('script/seleccionar_fila.js') }}"></script>
    {% endblock %}
{% endblock %}