{% extends 'layout.html.twig' %}

{% block title %}Ventas{% endblock %}

{% block section %}
    <div class="container">
        <h2>Ventas</h2>
        {% if temporada != null %}
            <h2>Temporada: {{ temporada }}</h2>
        {% endif %}
    </div>
    <div class="container">
        <table class="table table-bordered table-striped table-hover">
            <thead>
            <tr>
                <th>Nº</th>
                <th>Comprador</th>
                <th>Fecha</th>
                <th>Base Imponible €</th>
                <th>IVA %</th>
                <th>Importe €</th>
            </tr>
            </thead>
            <tbody>
            {% for venta in ventas %}
                <tr>
                    <td>{{ venta.numero }}-{{ venta.fecha|date('Y') }}</td>
                    <td>{{ venta.cliente }}{{ venta.socio }}</td>
                    <td>{{ venta.fecha|date('d/m/Y') }}</td>
                    <td>{% set baseImponible = venta.suma - (venta.suma * venta.descuento) %}
                        {{ baseImponible}}
                    </td>
                    <td>{{ venta.iva * 100 }}</td>
                    <td>{{ baseImponible * (1 + venta.iva) }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}