{% extends 'layout.html.twig' %}

{% block title %}Ventas{% endblock %}

{% block section %}
    {% set socio = app.user.socio.id %}
    <div class="container">
        <h2 class="well">Liquidaciones anteriores</h2>
        <div class="container">
            <a href="{{ path('principal') }}" class="btn btn-default btnAceptar">
                <i class="fa fa-home"></i> Ir a inicio
            </a>
        </div>
        <div class="tiles">
            {% for temporada in temporadas %}
                {% if is_granted('ROLE_DEPENDIENTE') or is_granted('ROLE_COMERCIAL') %}
                    <a href="{{ path('ventas_listar_socio_temporada', {'socio' : socio, 'temporada' : temporada.id}) }}" class="btn">
                        <div class="tile tile-dark-orange">
                            <div class="tile-body">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <div class="tile-object">
                                <div class="number">Temporada</div>
                                <div class="number">{{ temporada }}</div>
                            </div>
                        </div>
                    </a>
                {% endif %}
                {% if is_granted('ROLE_SOCIO') %}
                    <a href="{{ path('ventas_listar_socio_temporada', {'socio' : app.user.socio.id, 'temporada' : temporada.id}) }}" class="btn">
                        <div class="tile tile-dark-orange">
                            <div class="tile-body">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <div class="tile-object">
                                <div class="number">Temporada</div>
                                <div class="number">{{ temporada }}</div>
                            </div>
                        </div>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}