{% extends 'layout.html.twig' %}

{% block title %}Clientes{% endblock %}

{% block section %}
    <div class="container">
        <h2>Clientes</h2>
    </div>
    <div class="container">
        <table class="table table-bordered table-striped table-hover">
            <thead>
            <tr>
                <th>Nº Cliente</th>
                <th>NIF</th>
                <th>Cliente</th>
                <th>Dirección</th>
                <th>Teléfono</th>
            </tr>
            </thead>
            <tbody>
            {% for cliente in clientes %}
                <tr {% if cliente.email != null %}
                        title="{{ cliente.email }}"
                        {% else %}
                        title="No tiene email"
                    {% endif %}>
                    <td>{{ cliente.id }}</td>
                    <td>{{ cliente.nif }}</td>
                    <td>{{ cliente.nombre }} {{ cliente.apellidos }}</td>
                    <td>{{ cliente.direccion }} - {{ cliente.localidad}} ({{ cliente.provincia }})</td>
                    <td>{{ cliente.telefono}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}