{% extends 'base.html.twig' %}
{% trans_default_domain 'layout' %}
{% block body %}
    {% set ruta = app.request.get('_route') %}
    {% block header %}
        <header>
            <nav class="navbar navbar-inverse navegacion">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-main">
                            <span class="sr-only">Desplegar</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="contenedorLogoSesion">
                            <div class="logotipo">
                                <img src="{{ asset('icon.png') }}" alt="logotipo" id="logo">
                                <h3 class="eslogan"> Sociedad Cooperativa</h3>
                                <h3 class="tituloResponsive"></h3>
                            </div>
                            <ul class="nav navbar-nav navbar-right contenedorSesion">
                                {% if app.user %}
                                    <li class="dropdown desplegable">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                                            <i class="fa fa-user-circle-o"></i> {{ app.user.nombre }} {{ app.user.apellidos }}
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="{{ path('perfil') }}" class="dropdown-toggle listaInicio"
                                                   data-toggle="dropdown" data-hover="dropdown">
                                                    <i class="fa fa-cog"></i> Ir al perfil
                                                </a>
                                            </li>
                                            <li class="divider"></li>
                                            <li>
                                                <a href="{{ path('salir') }}">
                                                    <i class="fa fa-sign-out"></i> {{ 'layout.finalizaSesion'|trans }}
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                {% else %}
                                    <li>
                                        <a href="{{ path('entrar') }}" class="listaInicio">
                                            <i class="fa fa-sign-in"></i> {{ 'layout.iniciarSesion'|trans }}
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    <div class="collapse navbar-collapse" id="navbar-main">
                        <ul class="nav navbar-nav navbar-right listaNavegador">
                            <ul class="nav navbar-nav navbar-right menuOculto">
                                {% if app.user %}
                                    <li class="dropdown desplegable">
                                        <a href="{{ path('perfil') }}">
                                            <i class="fa fa-user-circle-o"></i> {{ app.user.nombre }} {{ app.user.apellidos }}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('salir') }}">
                                            <i class="fa fa-sign-out"></i> {{ 'layout.finalizaSesion'|trans }}
                                        </a>
                                    </li>
                                {% else %}
                                    <li>
                                        <a href="{{ path('entrar') }}">
                                            <i class="fa fa-sign-in"></i> {{ 'layout.iniciarSesion'|trans }}
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>

                            {% if not is_granted('ROLE_USUARIO') %}
                                <li {% if ruta == 'inicio' %} class="activo" {% endif %}>
                                    <a href="{{ path('inicio') }}" class="listaInicio">{{ 'layout.inicio'|trans }}</a>
                                </li>
                                <li class="dropdown desplegable">
                                    <a href="#" class="dropdown-toggle listaInicio" data-toggle="dropdown" data-hover="dropdown">{{ 'layout.productos'|trans }}</a>
                                    <ul class="dropdown-menu">
                                            <li><a href="#">{{ 'layout.extra'|trans }}</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">{{ 'layout.virgen'|trans }}</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">{{ 'layout.lampante'|trans }}</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown desplegable">
                                    <a href="#" class="dropdown-toggle listaInicio" data-toggle="dropdown" data-hover="dropdown">{{ 'layout.variedades'|trans }}</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Picual</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Alberquina</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Gordal</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Hojiblanca</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Lechín</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" class="listaInicio">{{ 'layout.venta'|trans }}</a>
                                </li>
                                <li>
                                    <a href="#" class="listaInicio">{{ 'layout.contacto'|trans }}</a>
                                </li>
                                <li class="dropdown desplegable">
                                    <a href="#" class="dropdown-toggle listaInicio" data-toggle="dropdown" data-hover="dropdown">
                                        <i class="fa fa-language"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="#">{{ 'layout.espanol'|trans }}</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li>
                                            <a href="#">{{ 'layout.ingles'|trans }}</a>
                                        </li>
                                    </ul>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    {% endblock %}
    {% block content %}
        <aside>{% block aside %}{% endblock %}</aside>
        <section>{% block section %}{% endblock %}</section>
    {% endblock %}
    {% block footer %}
        <footer>
            <div class="container">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <div>IES ORETANIA</div>
                        <div>{{ 'layout.autor'|trans }}: Diego Hurtado Rosales</div>
                    </li>
                </ul>
                <ul class="nav navbar navbar-right">
                    <li>
                        <a href="#">{{ 'layout.arriba'|trans }}</a>
                    </li>
                </ul>
            </div>
        </footer>
    {% endblock %}
{% endblock %}
