{% extends 'layout.html.twig' %}

{% block title %}{{ app.user.nif }}{% endblock %}

{% block section %}
    <div class="container">
        {% if app.session.flashBag.has('estado') %}
            {% set mensajes = app.session.flashBag.get('estado') %}
            {% for mensaje in mensajes %}
                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Cerrar"><span aria-hidden="true">&times;</span></button>
                    {{ mensaje }}
                </div>
            {% endfor %}
        {% endif %}
        {% if app.session.flashBag.has('error') %}
            {% set mensajes = app.session.flashBag.get('error') %}
            {% for mensaje in mensajes %}
                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Cerrar"><span aria-hidden="true">&times;</span></button>
                    {{ mensaje }}
                </div>
            {% endfor %}
        {% endif %}
    </div>
    {% if is_granted('ROLE_ADMINISTRADOR') %}
        <div class="container">
            <div class="tiles">
                <a href="{{ path('temporadas_comenzar') }}" class="btn">
                    <div class="tile tile-dark-teal">
                        <div class="tile-body">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <div class="tile-object">
                            <div class="number">Comenzar</div>
                            <div class="number">temporada</div>
                        </div>
                    </div>
                </a>
                <a href="{{ path('socios_listar') }}" class="btn">
                    <div class="tile tile-dark-teal">
                        <div class="tile-body">
                            <i class="fa fa-users"></i>
                        </div>
                        <div class="tile-object">
                            <div class="number">Socios</div>
                        </div>
                    </div>
                </a>
                <a href="{{ path('empleados_listar') }}" class="btn">
                    <div class="tile tile-dark-teal">
                        <div class="tile-body">
                            <i class="fa fa-users"></i>
                        </div>
                        <div class="tile-object">
                            <div class="number">Empleados</div>
                        </div>
                    </div>
                </a>
                <a href="#" class="btn">
                    <div class="tile tile-dark-teal">
                        <div class="tile-body">
                            <i class="fa fa-map"></i>
                        </div>
                        <div class="tile-object">
                            <div class="number">Fincas</div>
                        </div>
                    </div>
                </a>
                <a href="#" class="btn">
                    <div class="tile tile-dark-teal">
                        <div class="tile-body">
                            <i class="fa fa-exchange"></i>
                        </div>
                        <div class="tile-object">
                            <div class="number">Movimientos</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    {% endif %}

    {% if is_granted('ROLE_EMPLEADO') %}
    {% endif %}

    {% if is_granted('ROLE_COMERCIAL') %}
        <div class="container">
            <div class="tiles">
                <a href="#" class="btn">
                    <div class="tile tile-dark-teal">
                        <div class="tile-body">
                            <i class="fa fa-money"></i>
                        </div>
                        <div class="tile-object">
                            <div class="number">Precios</div>
                        </div>
                    </div>
                </a>
                <a href="{{ path('clientes_listar') }}" class="btn">
                    <div class="tile tile-dark-teal">
                        <div class="tile-body">
                            <i class="fa fa-users"></i>
                        </div>
                        <div class="tile-object">
                            <div class="number">Clientes</div>
                        </div>
                    </div>
                </a>
                <a href="#" class="btn">
                    <div class="tile tile-dark-teal">
                        <div class="tile-body">
                            <i class="fa fa-shopping-cart"></i>
                        </div>
                        <div class="tile-object">
                            <div class="number">Ventas</div>
                        </div>
                    </div>
                </a>
                <a href="{{ path('empleados_listar') }}" class="btn">
                    <div class="tile tile-dark-teal">
                        <div class="tile-body">
                            <i class="fa fa-users"></i>
                        </div>
                        <div class="tile-object">
                            <div class="number"></div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    {% endif %}

    {% if is_granted('ROLE_DEPENDIENTE') %}
        <div class="container">
            <div class="tiles">
                <a href="#" class="btn">
                    <div class="tile tile-dark-teal">
                        <div class="tile-body">
                            <i class="fa fa-shopping-cart"></i>
                        </div>
                        <div class="tile-object">
                            <div class="number">Ventas</div>
                        </div>
                    </div>
                </a>
                <a href="#" class="btn">
                    <div class="tile tile-dark-teal">
                        <div class="tile-body">
                            <i class="fa fa-users"></i>
                        </div>
                        <div class="tile-object">
                            <div class="number">Clientes</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    {% endif %}

    {% if is_granted('ROLE_ENCARGADO') %}
        <div class="container">
            <div class="tiles">
                <a href="#" class="btn">
                    <div class="tile tile-dark-teal">
                        <div class="tile-body">
                            <i class="fa fa-shopping-cart"></i>
                        </div>
                        <div class="tile-object">
                            <div class="number">Entregas</div>
                        </div>
                    </div>
                </a>
                <a href="#" class="btn">
                    <div class="tile tile-dark-teal">
                        <div class="tile-body">
                            <i class="fa fa-users"></i>
                        </div>
                        <div class="tile-object">
                            <div class="number">Actualiza</div>
                            <div class="number">Entregas</div>
                        </div>
                    </div>
                </a>
                <a href="#" class="btn">
                    <div class="tile tile-dark-teal">
                        <div class="tile-body">
                            <i class="fa fa-shopping-cart"></i>
                        </div>
                        <div class="tile-object">
                            <div class="number">Resultados</div>
                            <div class="number">Calidad</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    {% endif %}

    {% if is_granted('ROLE_CLIENTE') %}
    {% endif %}

    {% if is_granted('ROLE_SOCIO') %}
        <div class="container">
            <div class="tiles">
                <a href="#" class="btn">
                    <div class="tile tile-dark-emerald">
                        <div class="tile-body">
                            <i class="fa fa-map"></i>
                        </div>
                        <div class="tile-object">
                            <div class="number">Fincas</div>
                            <div class="number">en propiedad</div>
                        </div>
                    </div>
                </a>
                <a href="#" class="btn">
                    <div class="tile bg-primary">
                        <div class="tile-body">
                            <i class="fa fa-map"></i>
                        </div>
                        <div class="tile-object">
                            <div class="number">Fincas</div>
                            <div class="number">arrendadas</div>
                        </div>
                    </div>
                </a>
                <a href="#" class="btn">
                    <div class="tile bg-primary">
                        <div class="tile-body">
                            <i class="fa fa-calculator"></i>
                        </div>
                        <div class="tile-object">
                            <div class="number">Liquidaciones</div>
                        </div>
                    </div>
                </a>
                <a href="#" class="btn">
                    <div class="tile bg-primary">
                        <div class="tile-body">
                            <i class="fa fa-user"></i>
                        </div>
                        <div class="tile-object">
                            <div class="number">Ver perfil</div>
                        </div>
                    </div>
                </a>
                <a href="#" class="btn">
                    <div class="tile bg-primary">
                        <div class="tile-body">
                            <i class="fa fa-balance-scale"></i>
                        </div>
                        <div class="tile-object">
                            <div class="number">Estado</div>
                            <div class="number">de cuentas</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    {% endif %}

{% endblock %}