{% extends 'layout.html.twig' %}

{% block title %}Movimientos{% endblock %}

{% block section %}
    {% include 'flash.html.twig' %}
    <div class="container">
        <h2>Movimientos</h2>
        <h3>Temporada: {{ temporada }}</h3>
        <a href="{{ path('principal') }}" class="btn btn-default">
            <i class="fa fa-home"></i> Ir a principal
        </a>
        <a href="{{ path('movimientos_nuevo') }}" class="btn btn-default">
            <i class="fa fa-plus"></i> Nuevo movimiento
        </a>
    </div>
    <div class="container">
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Concepto</th>
                    <th>Cantidad</th>
                </tr>
            </thead>
            <tbody>
            {% set sumaGastos = 0 %}
            {% set sumaGanancias = 0 %}
            {% for movimiento in movimientos %}
                <tr>
                    <td>{{ movimiento.fecha|date('d/m/Y')}}</td>
                    <td>{{ movimiento.concepto }}</td>
                    <td>{% if movimiento.cantidad < 0 %}
                            {% set sumaGastos = sumaGastos - movimiento.cantidad %}
                        {% else %}
                            {% set sumaGanancias = sumaGanancias + movimiento.cantidad %}
                        {% endif %}
                        {{ movimiento.cantidad }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>Venta Aceite €</th>
                    <th>Suma Gastos €</th>
                    <th>Suma Beneficios €</th>
                    <th>Beneficio Total €</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ sumaVentas }}</td>
                    <td>{{ sumaGastos }}</td>
                    <td>{{ sumaGanancias }}</td>
                    <td>{{ sumaVentas - sumaGastos + sumaGanancias }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    {% block javascripts %}
        <script src="{{ asset('script/flash.js') }}"></script>
    {% endblock %}
{% endblock %}