{% extends 'layout.html.twig' %}

{% block title %}Movimientos{% endblock %}

{% block section %}
    {% include 'flash.html.twig' %}
    <div class="container well">
        <h2>Movimientos</h2>
        <div class="division"></div>
        <h3>Temporada: {{ temporada }}</h3>
        <a href="{{ path('principal') }}" class="btn btn-default btnAceptar">
            <i class="fa fa-home"></i> Ir a principal
        </a>
        <a href="{{ path('movimientos_temporadas_listar') }}" class="btn btn-default btnAceptar">
            <i class="fa fa-calendar"></i> Otras temporadas
        </a>
        {% if is_granted('ROLE_ADMINISTRADOR') %}
            <a href="{{ path('movimientos_nuevo') }}" class="btn btn-default btnAceptar">
                <i class="fa fa-plus"></i> Nuevo movimiento
            </a>
        {% endif %}
    </div>
    <div class="container well">
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th class="col-sm-3 sortable">
                        {{ knp_pagination_sortable(pagination, 'Fecha', 'a.fecha') }}
                    </th>
                    <th>Concepto</th>
                    <th>Cantidad €</th>
                </tr>
            </thead>
            <tbody>
            {% set sumaGastos = 0 %}
            {% set sumaGanancias = 0 %}
            {% for movimiento in pagination %}
                <tr>
                    <td>{{ movimiento.fecha|date('d/m/Y')}}</td>
                    <td>{{ movimiento.concepto }}</td>
                    <td>{% if movimiento.cantidad < 0 %}
                            {% set sumaGastos = sumaGastos - movimiento.cantidad %}
                        {% else %}
                            {% set sumaGanancias = sumaGanancias + movimiento.cantidad %}
                        {% endif %}
                        {{ movimiento.cantidad|number_format(2, ',', '.') }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <table class="table">
            <thead>
                <tr>
                    <th>Venta Aceite €</th>
                    <th>Suma Gastos €</th>
                    <th>Suma Beneficios €</th>
                    <th>Beneficio Total €</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ sumaVentas|number_format(2, ',', '.') }}</td>
                    <td>{{ sumaGastos|number_format(2, ',', '.') }}</td>
                    <td>{{ sumaGanancias|number_format(2, ',', '.') }}</td>
                    <td>{{ (sumaVentas - sumaGastos + sumaGanancias)|number_format(2, ',', '.') }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="container">
        <div class="col-md-6 col-md-offset-3">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
    {% block javascripts %}
        <script src="{{ asset('script/flash.js') }}"></script>
    {% endblock %}
{% endblock %}