{% extends 'layout.html.twig' %}

{% block title %}Clientes{% endblock %}

{% block section %}
    {% include 'flash.html.twig' %}
    <div class="container">
        <h2 class="well">Clientes</h2>
        <a href="{{ path('principal') }}" class="btn btn-default btnAceptar">
            <i class="fa fa-home"></i> Ir a inicio
        </a>
        <a href="{{ path('clientes_nuevo') }}" class="btn btn-default btnAceptar">
            <i class="fa fa-plus"></i> Nuevo cliente
        </a>
    </div>
    <div class="container well">
        <form action="{{ path('clientes_buscar') }}" id="buscar">
            <input type="text" name="buscar" placeholder="Buscar...">
            <button type="submit" class="btn btn-default btnAceptar" title="Buscar">
                <i class="fa fa-search"></i>
            </button>
            <a href="{{ path('clientes_listar') }}" class="btn btn-default btnAceptar" title="Mostrar todos">
                <i class="fa fa-list-ul"></i>
            </a>
        </form>
        <table class="table table-responsive">
            <thead>
            <tr>
                <th>NIF</th>
                <th class="col-sm-3 sortable">
                    {{ knp_pagination_sortable(pagination, 'Cliente', 'a.nombre') }}
                </th>
                <th>Dirección</th>
                <th>Teléfono</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for cliente in pagination %}
                {% if cliente.email != null %}
                <tr title="{{ cliente.email }}" class="clickable-row">
                {% else %}
                    <tr title="No tiene email" class="clickable-row">
                {% endif %}
                    <td>{{ cliente.nif }}</td>
                    <td>{{ cliente.nombre }} {{ cliente.apellidos }}</td>
                    <td>
                        {{ cliente.direccion }} - {{cliente.localidad}} ({{ cliente.provincia }})
                    </td>
                    <td>{{ cliente.telefono}}</td>
                    <td>
                        {% if is_granted('ROLE_ADMINISTRADOR') %}
                            <a href="{{ path('clientes_modificar', {'id' : cliente.id }) }}" class="btn btn-default btnAceptar btnOculto" title="Modificar datos">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a href="{{ path('usuarios_pass', {'usuario' : cliente.id }) }}" class="btn btn-default btnAceptar btnOculto" title="Restablecer contraseña">
                                <i class="fa fa-key"></i>
                            </a>
                        {% endif %}
                        {% if is_granted('ROLE_COMERCIAL') or is_granted('ROLE_DEPENDIENTE')%}
                            <a href="{{ path('ventas_listar_usuario', {'id' : cliente.id }) }}" class="btn btn-default btnAceptar btnOculto" title="Ir a las compras del cliente">
                                <i class="fa fa-shopping-cart"></i>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="container">
        <div class="col-md-6 col-md-offset-3">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
    {% block javascripts %}
        <script src="{{ asset('script/flash.js') }}"></script>
        <script src="{{ asset('script/seleccionar_fila.js') }}"></script>
    {% endblock %}
{% endblock %}