{% extends 'layout.html.twig' %}

{% block title %}Empleados{% endblock %}

{% block section %}
    <div class="container">
        <h2>Empleados</h2>
    </div>
    <div class="container">
        <table class="table table-bordered table-striped table-hover table-responsive">
            <thead>
            <tr>
                <th>NIF</th>
                <th>Empleado</th>
                <th>Dirección</th>
                <th>Teléfono</th>
                <th>Email</th>
                <th>Roles</th>
            </tr>
            </thead>
            <tbody>
            {% for empleado in empleados %}
                <tr>
                    <td>{{ empleado.nif }}</td>
                    <td>{{ empleado.nombre }} {{ empleado.apellidos }}</td>
                    <td>
                        {{ empleado.direccion }} - {{empleado.localidad}} ({{ empleado.provincia }})
                    </td>
                    <td>{{ empleado.telefono}}</td>
                    <td>{{ empleado.email }}</td>
                    <td>
                        {% if empleado.comercial == true %}
                            Comercial
                        {% endif %}
                        {% if empleado.dependiente == true %}
                            Dependiente
                        {% endif %}
                        {% if empleado.encargado == true %}
                            Encargado
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}