{% extends 'layout.html.twig' %}

{% block title %}Empleados{% endblock %}

{% block section %}
    <div class="container">
        {% if app.session.flashBag.has('estado') %}
            {% set mensajes = app.session.flashBag.get('estado') %}
            {% for mensaje in mensajes %}
                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Cerrar"><span aria-hidden="true">&times;</span></button>
                    {{ mensaje }}
                </div>
            {% endfor %}
        {% endif %}
        {% if app.session.flashBag.has('error') %}
            {% set mensajes = app.session.flashBag.get('error') %}
            {% for mensaje in mensajes %}
                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Cerrar"><span aria-hidden="true">&times;</span></button>
                    {{ mensaje }}
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="container">
        <h2>Empleados</h2>
        <a href="{{ path('principal') }}" class="btn btn-default">
            <i class="fa fa-home"></i> Ir a principal
        </a>
        <a href="{{ path('empleados_nuevo') }}" class="btn btn-default">
            <i class="fa fa-plus"></i> Nuevo Empleado
        </a>
    </div>
    <div class="container">
        <table class="table table-bordered table-striped table-hover table-responsive">
            <thead>
            <tr>
                <th>NIF</th>
                <th>Empleado</th>
                <th>Dirección</th>
                <th>Teléfono</th>
                <th>Email</th>
                <th>Roles</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for empleado in empleados %}
                <tr>
                    <td>{{ empleado.nif }}</td>
                    <td>{{ empleado.nombre }} {{ empleado.apellidos }}</td>
                    <td>
                        {{ empleado.direccion }} - {{empleado.localidad}} ({{ empleado.provincia }})
                    </td>
                    <td>{{ empleado.telefono}}</td>
                    <td>{{ empleado.email }}</td>
                    <td>
                        {% if empleado.comercial == true %}
                            Comercial
                        {% endif %}
                        {% if empleado.dependiente == true %}
                            Dependiente
                        {% endif %}
                        {% if empleado.encargado == true %}
                            Encargado
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('empleados_modificar', {'empleado' : empleado.id }) }}" class="btn btn-default">
                            <i class="fa fa-pencil"></i> Modificar datos
                        </a>
                        <a href="{{ path('empleados_eliminar', {'empleado' : empleado.id }) }}" class="btn btn-default">
                            <i class="fa fa-trash"></i> Dar de baja
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}