{% extends 'layout.html.twig' %}

{% block title %}Empleados{% endblock %}

{% block section %}
    {% include 'flash.html.twig' %}
    <div class="container">
        <h2 class="well">Empleados</h2>
        <a href="{{ path('principal') }}" class="btn btn-default btnAceptar">
            <i class="fa fa-home"></i> Ir a principal
        </a>
        <a href="{{ path('empleados_nuevo') }}" class="btn btn-default btnAceptar">
            <i class="fa fa-plus"></i> Nuevo Empleado
        </a>
    </div>
    <div class="container well">
        <table class="table table-responsive">
            <thead>
            <tr>
                <th class="col-sm-1">NIF</th>
                <th class="col-sm-3">Empleado</th>
                <th class="col-sm-3">Dirección</th>
                <th class="col-sm-2">Teléfono</th>
                <th class="col-sm-1">Roles</th>
                <th class="col-sm-2"></th>
            </tr>
            </thead>
            <tbody>
            {% set parametro = 0 %}
            {% set nombre = '' %}
            {% for empleado in empleados %}
                {% if empleado.email != null %}
                <tr class="clickable-row" title="{{ empleado.email }}">
                {% else %}
                    <tr class="clickable-row" title="No tiene email">
                {% endif %}
                    <td>{{ empleado.nif }}</td>
                    <td>{{ empleado.nombre }} {{ empleado.apellidos }}</td>
                    <td>
                        {{ empleado.direccion }} - {{empleado.localidad}} ({{ empleado.provincia }})
                    </td>
                    <td>{{ empleado.telefono}}</td>
                    <td>
                        {% if empleado.comercial == true %}
                            Comercial
                        {% endif %}
                        {% if empleado.dependiente == true %}
                            Dependiente
                        {% endif %}
                        {% if empleado.encargado == true %}
                            Encargado
                        {% endif %}
                    </td>
                    <td>
                        {% if is_granted('ROLE_ADMINISTRADOR') %}
                            <a href="{{ path('empleados_modificar', {'id' : empleado.id }) }}" class="btn btn-default btnAceptar btnOculto" title="modificar datos">
                                <i class="fa fa-pencil"></i>
                            </a>
                        {% endif %}
                        {% if is_granted('ROLE_COMERCIAL') or is_granted('ROLE_DEPENDIENTE')%}
                            <a href="{{ path('ventas_listar_usuario', {'id' : empleado.id }) }}" class="btn btn-default btnAceptar btnOculto" title="Ir a las compras del cliente">
                                <i class="fa fa-shopping-cart"></i>
                            </a>
                        {% endif %}
                        {% set parametro = empleado.nif %}
                        {% set nombre = empleado %}
                        <a type="button" class="btn btn-default btnAceptar eliminar btnOculto" data-toggle="modal" data-target="#empleados_eliminar" title="Dar de baja">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Ventana modal -->
    <div class="modal fade" id="empleados_eliminar" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Vas a eliminar al empleado {{ nombre }}</h4>
                </div>
                <div class="modal-body">
                    <p>¿Deseas continuar?</p>
                </div>
                <div class="modal-footer">
                    <form action="{{ path('confirmar_empleados_eliminar', {'nif' : parametro}) }}" method="post" name="confirmar">
                        <button type="submit" name="aceptar" class="btn btn-default btnAceptar">
                            <i class="fa fa-check"></i> Aceptar
                        </button>
                        <button type="button" name="cancelar" class="btn btn-default btnCancelar" data-dismiss="modal">
                            <i class="fa fa-times"></i> Cancelar
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% block javascripts %}
        <script src="{{ asset('script/flash.js') }}"></script>
        <script src="{{ asset('script/seleccionar_fila.js') }}"></script>
    {% endblock %}
{% endblock %}