{% extends 'layout.html.twig' %}

{% block title %}Empleados{% endblock %}

{% block section %}
    {% include 'flash.html.twig' %}
    <div class="container">
        <h2 class="well">Empleados</h2>
        <a href="{{ path('principal') }}" class="btn btn-default btnAceptar">
            <i class="fa fa-home"></i> Ir a principal
        </a>
        <a href="{{ path('empleados_nuevo') }}" class="btn btn-default btnAceptar">
            <i class="fa fa-plus"></i> Nuevo Empleado
        </a>
    </div>
    <div class="container">
        <table class="table table-responsive">
            <thead>
            <tr>
                <th>NIF</th>
                <th>Empleado</th>
                <th>Dirección</th>
                <th>Teléfono</th>
                <th>Email</th>
                <th>Roles</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for empleado in empleados %}
                <tr>
                    <td>{{ empleado.nif }}</td>
                    <td>{{ empleado.nombre }} {{ empleado.apellidos }}</td>
                    <td>
                        {{ empleado.direccion }} - {{empleado.localidad}} ({{ empleado.provincia }})
                    </td>
                    <td>{{ empleado.telefono}}</td>
                    <td>{{ empleado.email }}</td>
                    <td>
                        {% if empleado.comercial == true %}
                            Comercial
                        {% endif %}
                        {% if empleado.dependiente == true %}
                            Dependiente
                        {% endif %}
                        {% if empleado.encargado == true %}
                            Encargado
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('empleados_modificar', {'id' : empleado.id }) }}" class="btn btn-default btnAceptar">
                            <i class="fa fa-pencil"></i> Modificar datos
                        </a>
                        <a href="{{ path('empleados_eliminar', {'id' : empleado.id }) }}" class="btn btn-default btnAceptar">
                            <i class="fa fa-trash"></i> Dar de baja
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% block javascripts %}
        <script src="{{ asset('script/flash.js') }}"></script>
    {% endblock %}
{% endblock %}