{% extends 'layout.html.twig' %}

{% block title %}Clientes/usuarios{% endblock %}

{% block section %}
    {% include 'flash.html.twig' %}
    <div class="container">
        <h2 class="well">Clientes/usuarios</h2>
        <a href="{{ path('principal') }}" class="btn btn-default btnAceptar">
            <i class="fa fa-home"></i> Ir a principal
        </a>
    </div>
    <div class="container well">
        <table class="table table-responsive">
            <thead>
            <tr>
                <th>NIF</th>
                <th class="col-sm-3 sortable">
                    {{ knp_pagination_sortable(pagination, 'Cliente', 'a.nombre') }}
                </th>
                <th>Dirección</th>
                <th>Teléfono</th>
                <th>Total facturado €</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for usuario in pagination %}
                {% if usuario.email != null %}
                <tr title="{{ usuario.email }}" class="clickable-row">
                {% else %}
                    <tr title="No tiene email" class="clickable-row">
                {% endif %}
                    <td>{{ usuario.nif }}</td>
                    <td>{{ usuario.nombre }} {{ usuario.apellidos }}</td>
                    <td>
                        {{ usuario.direccion }} - {{usuario.localidad}} ({{ usuario.provincia }})
                    </td>
                    <td>{{ usuario.telefono}}</td>
                    <td>
                        {% set suma = 0 %}
                        {% set sumaVenta = 0 %}
                        {% for venta in usuario.ventas %}
                            {% for linea in venta %}
                                {% set sumaVenta = sumaVenta + (linea.cantidad * linea.precio) - (linea.cantidad * linea.precio * linea.descuento) + ((linea.cantidad * linea.precio) - (linea.cantidad * linea.precio * linea.descuento) * linea.iva) %}
                            {% endfor %}
                            {% set suma = suma + sumaVenta  %}
                        {% endfor %}
                        {{ suma }}
                    </td>
                    <td>
                        {% if is_granted('ROLE_COMERCIAL') or is_granted('ROLE_DEPENDIENTE')%}
                            <a href="{{ path('ventas_listar_usuario', {'id' : usuario.id }) }}" class="btn btn-default btnAceptar btnOculto" title="Ir a las compras del usuario">
                                <i class="fa fa-shopping-cart"></i>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="container">
        <div class="col-md-6 col-md-offset-3">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
    {% block javascripts %}
        <script src="{{ asset('script/flash.js') }}"></script>
        <script src="{{ asset('script/seleccionar_fila.js') }}"></script>
    {% endblock %}
{% endblock %}