{% extends 'layout.html.twig' %}

{% block title %}Clientes{% endblock %}

{% block section %}
    <div class="container">
        <h2>Clientes</h2>
        <a href="{{ path('principal') }}" class="btn btn-default">
            <i class="fa fa-home"></i> Ir a principal
        </a>
    </div>
    <div class="container">
        <table class="table table-bordered table-striped table-hover table-responsive">
            <thead>
            <tr>
                <th>NIF</th>
                <th>Cliente</th>
                <th>Dirección</th>
                <th>Teléfono</th>
                <th>Email</th>
                <th>Total facturado €</th>
            </tr>
            </thead>
            <tbody>
            {% for cliente in clientes %}
                <tr>
                    <td>{{ cliente.nif }}</td>
                    <td>{{ cliente.nombre }} {{ cliente.apellidos }}</td>
                    <td>
                        {{ cliente.direccion }} - {{cliente.localidad}} ({{ cliente.provincia }})
                    </td>
                    <td>{{ cliente.telefono}}</td>
                    <td>{{ cliente.email }}</td>
                    <td>
                        {% set suma = 0 %}
                        {% set sumaVenta = 0 %}
                        {% for venta in cliente.ventas %}
                            {% for linea in venta %}
                                {% set sumaVenta = sumaVenta + (linea.cantidad * linea.precio) - (linea.cantidad * linea.precio * linea.descuento) + ((linea.cantidad * linea.precio) - (linea.cantidad * linea.precio * linea.descuento) * linea.iva) %}
                            {% endfor %}
                            {% set suma = suma + sumaVenta  %}
                        {% endfor %}
                        {{ suma }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}