{% extends 'layout.html.twig' %}

{% block title %}Conexión{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/login.css') }}">
{% endblock %}

{% block section %}
    <section>
        <div class="container">
            <div class="form-group">
                {% if error %}
                    <div class="alert alert-danger">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}
                <form method="post" action="{{ path('comprobar') }}">
                    <header><h3>Iniciar sesión</h3></header>
                    <label for="_username">Usuario: </label>
                    <input type="text" name="_username" required="required" placeholder="Introduce NIF" value="{{ ultimo_usuario }}"
                           {% if not ultimo_usuario %}
                                autofocus="autofocus"
                            {% endif %}>
                    <label for="_password">Contraseña: </label>
                    <input type="password" name="_password" required="required" placeholder="Introduce contraseña"
                           {% if ultimo_usuario %}
                                autofocus="autofocus"
                            {% endif %}>
                    <button type="submit" class="btn btn-default btnAceptar">
                        <i class="fa fa-sign-in"></i> Iniciar sesión</button>
                    <a href="{{ path('inicio') }}" class="btn btn-default btnCancelar">
                        <i class="fa fa-times"></i> Cancelar
                    </a>
                </form>
            </div>
        </div>
    </section>
{% endblock %}