{% extends 'layout.html.twig' %}

{% block title %}Productos{% endblock %}

{% block section %}
    {% include 'flash.html.twig' %}
    <div class="container">
        <h2 class="well">Productos envasados</h2>
        <a href="{{ path('principal') }}" class="btn btn-default btnAceptar">
            <i class="fa fa-home"></i> Ir a principal
        </a>
        {% if is_granted('ROLE_COMERCIAL') %}
            <a href="{{ path('envases_nuevo') }}" class="btn btn-default btnAceptar">
                <i class="fa fa-plus"></i> Nuevo envase
            </a>
            <a href="{{ path('producto_nuevo') }}" class="btn btn-default btnAceptar">
                <i class="fa fa-plus"></i> Nuevo producto
            </a>
        {% endif %}
    </div>
    <div class="container well">
        <table class="table table-responsive">
            <thead>
            <tr>
                <th>Aceite</th>
                <th>Envase</th>
                <th>Unidades</th>
                <th>Precio €/ud</th>
                {% if is_granted('ROLE_COMERCIAL') %}
                    <th></th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for producto in productos %}
                {% if is_granted('ROLE_ADMINISTRADOR') or is_granted('ROLE_COMERCIAL') %}
                    <tr class="clickable-row">
                {% else %}
                    <tr>
                {% endif %}
                    <td>{{ producto.lotes[0].aceite }}</td>
                    <td>{{ producto.envase }}</td>
                    <td>{{ producto.stock }}</td>
                    <td>{{ producto.precio|number_format(2, ',', '.') }}</td>
                    {% if is_granted('ROLE_ADMINISTRADOR') or is_granted('ROLE_COMERCIAL') %}
                        <td class="celdaBoton">
                            <a href="{{ path('productos_precio_modificar', {'producto' : producto.id }) }}" class="btn btn-default btnAceptar btnOculto" title="Editar precio">
                                <i class="fa fa-euro"></i>
                            </a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% block javascripts %}
        <script src="{{ asset('script/flash.js') }}"></script>
        <script src="{{ asset('script/seleccionar_fila.js') }}"></script>
    {% endblock %}
{% endblock %}