{% extends 'layout.html.twig' %}

{% block title %}Productos{% endblock %}

{% block section %}
    <div class="container">
        <h2>Productos envasados</h2>
        <a href="{{ path('principal') }}" class="btn btn-default">
            <i class="fa fa-home"></i> Ir a principal
        </a>
    </div>
    <div class="container">
        <table class="table table-bordered table-striped table-hover">
            <thead>
            <tr>
                <th>Aceite</th>
                <th>Envase</th>
                <th>Cantidad</th>
                <th>Precio</th>
            </tr>
            </thead>
            <tbody>
            {% for producto in productos %}
                <tr>
                    <td>{{ producto.lotes[0].aceite }}</td>
                    <td>{{ producto.envase }}</td>
                    <td>{{ producto.stock }}</td>
                    <td>{{ producto.lotes[0].aceite.precioKg * producto.lotes[0].aceite.densidadKgLitro (1 + producto.envase.incremento) }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}