{% extends 'layout.html.twig' %}

{% block title %}Productos{% endblock %}

{% block section %}
    <div class="container">
        {% if app.session.flashBag.has('estado') %}
            {% set mensajes = app.session.flashBag.get('estado') %}
            {% for mensaje in mensajes %}
                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Cerrar"><span aria-hidden="true">&times;</span></button>
                    {{ mensaje }}
                </div>
            {% endfor %}
        {% endif %}
        {% if app.session.flashBag.has('error') %}
            {% set mensajes = app.session.flashBag.get('error') %}
            {% for mensaje in mensajes %}
                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Cerrar"><span aria-hidden="true">&times;</span></button>
                    {{ mensaje }}
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="container">
        <a href="{{ path('principal') }}" class="btn btn-default">
            <i class="fa fa-home"></i> Ir a principal
        </a>
        <div class="tiles">
            {% for producto in productos %}
                <a href="{{ path('producto_form', {'producto' : producto.id}) }}" class="btn">
                    <div class="tile tile-dark-teal">
                        <div class="tile-body">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <div class="tile-object">
                            <div class="number">{{ producto.lotes[0].aceite }}</div>
                            <div class="number">{{ producto.envase }}</div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}