{% extends 'layout.html.twig' %}

{% block title %}Productos{% endblock %}

{% block section %}
    {% include 'flash.html.twig' %}
    <div class="container">
        <h2 class="well">Envasar productos</h2>
        <div class="container">
            <a href="{{ path('principal') }}" class="btn btn-default btnAceptar">
                <i class="fa fa-home"></i> Ir a inicio
            </a>
        </div>
        <div class="tiles">
            {% for producto in productos %}
                <a href="{{ path('producto_form', {'producto' : producto.id}) }}" class="btn">
                    <div class="tile tile-dark-teal">
                        <div class="tile-body">
                            <i class="fa fa-filter"></i>
                        </div>
                        <div class="tile-object">
                            <div class="number">{{ producto.lotes[0].aceite }}</div>
                            <div class="number">{{ producto.envase }}</div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
    {% block javascripts %}
        <script src="{{ asset('script/flash.js') }}"></script>
    {% endblock %}
{% endblock %}