{% extends 'layout.html.twig' %}

{% block title %}Partidas{% endblock %}

{% block section %}
    <h1>Listado de partidas</h1>
    <!--<a href="#" class="btn btn-success"><i class="fa fa-plus"></i> Añadir alumno</a>




    -->
    <p></p>
    <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th>Nº</th>
            <th>Fecha</th>
            <th>kg aceite</th>
            <th>Procedencia</th>
            <th>Entregas</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for partida in partidas %}
            <tr>
                <td>{{ partida.id }}</td>
                <td>{{ partida.fechaFabricacion|date('d/m/Y') }}</td>
                <td>{{ partida.cantidad }}</td>
                <td>{{ partida.entregas[0].procedencia.denominacion }}</td>
                <td>
                    <select name="slProcedencias" id="slProcedencias">
                        <option value="0"></option>
                        {% for entrega in partida.entregas %}
                            <option value="{{ entrega.finca.id }}" title="Detalles de la entrega"><a href="#">{{ entrega.id }}</a></option>
                        {% endfor %}
                    </select></td>
                </td>
                <td>
                    <a href="#" class="btn btn-xs btn-success col-sm-6" title="Listado de fincas del socio">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                    </a>
                    <a href="#" class="btn btn-xs btn-info col-sm-6" title="Modificar datos del socio">
                        <i class="fa fa-pencil"></i>
                    </a>
                    <a href="#" class="btn btn-xs btn-danger col-sm-6" title="Dar de baja">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}