{% extends 'layout.html.twig' %}

{% block title %}Entregas{% endblock %}

{% block section %}
    <div class="container">
    <h2>Entrega Nº {{ entrega.id }}</h2>
    <h2>Socio: {{ socio }}</h2>
    </div>
    <div class="container">
    <table class="table table-bordered table-striped table-hover">
        <tr>
            <td>Temporada</td><td>{{ entrega.temporada }}</td>
        </tr>
        <tr>
            <td>Fecha</td><td>{{ entrega.fecha|date('d/m/Y') }}</td>
        </tr>
        <tr>
            <td>Hora inicio</td><td>{{ entrega.horaInicio|date('H:i') }}</td>
        </tr>
        <tr>
            <td>Hora fin</td><td>{{ entrega.horaFin|date('H:i') }}</td>
        </tr>
        <tr>
            <th>Peso aceituna</th>
            <th><h4>{% if socio.id == entrega.finca.propietario.id %}
                    {% set pesoAceituna = entrega.peso * entrega.finca.partPropietario %}
                {% else %}
                    {%  set pesoAceituna = entrega.peso * entrega.finca.partArrend %}
                {% endif %}
                    {{ pesoAceituna }} kg</h4>
            </th>
        </tr>
    </table>
    <!--<a href="#" class="btn btn-success"><i class="fa fa-plus"></i> Añadir alumno</a>




    -->
    <p></p>
    <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th>Tipo</th>
            <th>Sanción</th>
            <th>% Rendimiento</th>
            <th>Kg Aceite</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ entrega.procedencia }}</td>
                <td>{{ pesoAceituna * entrega.sancion }}</td>
                <td>{{ entrega.rendimiento * 100 }}</td>
                <td>{{ (pesoAceituna - pesoAceituna * entrega.sancion) * entrega.rendimiento }}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td></td><td></td><td></td><td></td><td>Observaciones</td><td>{{ entrega.observaciones }}</td>
            </tr>
        </tfoot>
    </table>
    </div>
{% endblock %}