{% extends 'layout.html.twig' %}

{% block title %}Entregas{% endblock %}

{% block section %}
    <h1>Entrega Nº {{ resultado[0].id }}</h1>
    <h1>Socio {{ socio }}</h1>
    <!--<a href="#" class="btn btn-success"><i class="fa fa-plus"></i> Añadir alumno</a>




    -->
    <p></p>
    <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th>Nº</th>
            <th>Kg Aceituna</th>
            <th>% Rendimiento</th>
            <th>Kg Aceite</th>
            <th>Sanción</th>
            <th>Total</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ resultado[0].id }}</td>
                <td>{% if socio.id == resultado[0].finca.propietario.id %}
                        {{ resultado[0].peso * (resultado[0].finca.partPropietario / 100) }}
                    {% else %}
                        {{ resultado[0].peso * (resultado[0].finca.partArrend) }}
                    {% endif %}
                </td>
                <td>{{ resultado[0].rendimiento }}</td>
                <td>{{ resultado[0].peso * (resultado[0].rendimiento / 100) }}</td>
                <td>{{ (resultado[0].peso * (resultado[0].rendimiento / 100)) * (resultado[0].sancion /100) }}</td>
                <td>{{ resultado[0].peso * (resultado[0].rendimiento / 100) - (resultado[0].peso * (resultado[0].rendimiento / 100)) * (resultado[0].sancion /100) }}</td>
                <td>
                    <a href="#" class="btn btn-xs btn-success col-sm-6" title="Listado de fincas del socio">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                    </a>
                    <a href="#" class="btn btn-xs btn-info col-sm-6" title="Modificar datos del socio">
                        <i class="fa fa-pencil"></i>
                    </a>
                    <a href="#" class="btn btn-xs btn-danger col-sm-6" title="Dar de baja">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}