{% extends 'layout.html.twig' %}

{% block title %}Entregas{% endblock %}

{% block section %}
    <div class="container">
        <div class="well">
            <h2>Entrega Nº {{ entrega.id }}</h2>
            <div class="division"></div>
            <h3>Socio: {{ socio }}</h3>
        </div>
        <a href="{{ path('principal') }}" class="btn btn-default btnAceptar">
            <i class="fa fa-chevron-left"></i> Anterior
        </a>
    </div>
    <div class="container">
    <table class="table">
        <tr>
            <td class="col-sm-2">Temporada</td><td>{{ entrega.temporada }}</td>
        </tr>
        <tr>
            <td class="col-sm-2">Fecha</td><td>{{ entrega.fecha|date('d/m/Y') }}</td>
        </tr>
        <tr>
            <td class="col-sm-2">Hora inicio</td><td>{{ entrega.horaInicio|date('H:i') }}</td>
        </tr>
        <tr>
            <td class="col-sm-2">Hora fin</td><td>{{ entrega.horaFin|date('H:i') }}</td>
        </tr>
        <tr>
            <th>Peso aceituna</th>
            <th><h4>{% if socio.id == entrega.finca.propietario.id %}
                    {% set pesoAceituna = entrega.peso * entrega.finca.partPropietario %}
                {% else %}
                    {%  set pesoAceituna = entrega.peso * entrega.finca.partArrend %}
                {% endif %}
                    {{ pesoAceituna }} kg</h4>
            </th>
        </tr>
    </table>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Tipo</th>
            <th>Sanción</th>
            <th>% Rendimiento</th>
            <th>Kg Aceite</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ entrega.procedencia }}</td>
                <td>{{ pesoAceituna * entrega.sancion }}</td>
                <td>{{ entrega.rendimiento * 100 }}</td>
                <td>{{ (pesoAceituna - pesoAceituna * entrega.sancion) * entrega.rendimiento }}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td></td><td></td><td>Observaciones</td><td>
                {% if entrega.observaciones != null %}
                    {{ entrega.observaciones }}
                {% else %}
                    No
                {% endif %}
                </td>
            </tr>
        </tfoot>
    </table>
    </div>
{% endblock %}