{% extends 'layout.html.twig' %}

{% block title %}Entregas{% endblock %}

{% block section %}
    <div class="container">
        <h2>Entregas socio: {{ socio }}</h2>
        <h2>Temporada: {{ temporada }}</h2>
        <a href="{{ path('principal') }}" class="btn btn-default">
            <i class="fa fa-home"></i> Ir a principal
        </a>
    </div>
    <div class="container">
        <table class="table table-bordered table-striped table-hover">
            <thead>
            <tr>
                <th>Nº</th>
                <th>Fecha</th>
                <th>Kg Aceituna</th>
                <th>Sanción</th>
                <th>Rendimiento %</th>
                <th>Kg Aceite</th>
                <th>Procedencia %</th>
                <th>Aceite</th>
                {% if is_granted('ROLE_SOCIO') %}
                <th></th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for entrega in entregas %}
                <tr>
                    <td>{{ entrega.id }}</td>
                    <td>{{ entrega.fecha|date('d/m/Y') }}</td>
                    <td>
                        {% if socio.id == entrega.finca.propietario.id %}
                            {% set pesoAceituna = entrega.peso * entrega.finca.partPropietario %}
                        {% else %}
                            {%  set pesoAceituna = entrega.peso * entrega.finca.partArrend %}
                        {% endif %}
                        {{ pesoAceituna }}
                    </td>
                    <td>{% if entrega.sancion != null %}
                            {% set sancion = pesoAceituna * entrega.sancion %}
                        {% else %}
                            {% set sancion = 0 %}
                        {% endif %}
                        - {{ sancion }}
                    </td>
                    <td>{{ entrega.rendimiento * 100 }}</td>
                    <td>{{ (pesoAceituna - sancion) * entrega.rendimiento }}</td>
                    <td>{{ entrega.procedencia}}</td>
                    <td>
                        {% if entrega.lote != null %}
                            {{ entrega.lote.aceite }}
                        {% endif %}
                    </td>
                    {% if is_granted('ROLE_SOCIO') %}
                    <td>
                        <a href="{{ path('entregas_detalle', {'entrega' : entrega.id, 'socio' : socio.id}) }}" class="btn btn-default">
                            <i class="fa fa-balance-scale"></i> Detalle
                        </a>
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}