{% extends 'layout.html.twig' %}

{% block title %}Entregas{% endblock %}

{% block section %}
    <h1>Entregas socio: {{ socio }}</h1>
    <h1>Temporada: {{ temporada }}</h1>
    <!--<a href="#" class="btn btn-success"><i class="fa fa-plus"></i> Añadir alumno</a>




    -->
    <p></p>
    <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th>Nº</th>
            <th>Kg Aceituna</th>
            <th>Rendimiento %</th>
            <th>Kg Aceite</th>
            <th>Sanción</th>
            <th>Total kg</th>
            <th>Aceite</th>
            <th>Precio</th>
            <th>Total €</th>
            <th>Bonif. vuelo %</th>
            <th>Importe €</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for entrega in entregas %}
            <tr>
                <td>{{ entrega.id }}</td>
                <td>
                    {% if socio.id == entrega.finca.propietario.id %}
                        {% set pesoAceituna = entrega.peso * entrega.finca.partPropietario %}
                    {% else %}
                        {%  set pesoAceituna = entrega.peso * entrega.finca.partArrend %}
                    {% endif %}
                    {{ pesoAceituna }}
                </td>
                <td>{{ entrega.rendimiento * 100 }}</td>
                <td>{{ pesoAceituna * entrega.rendimiento }}</td>
                <td>{% if entrega.sancion != null %}
                        {% set sancion = pesoAceituna * entrega.rendimiento * entrega.sancion %}
                    {% else %}
                        {% set sancion = 0 %}
                    {% endif %}
                    {{ sancion }}
                </td>
                <td>{{ (pesoAceituna * entrega.rendimiento) - sancion }}</td>
                <td>
                    {% if entrega.partida.lote != null %}
                        {{ entrega.partida.lote.aceite }}
                    {% endif %}
                </td>
                <td>{{ entrega.precioKgAceite }}</td>
                <td>{{ ((pesoAceituna * entrega.rendimiento) - sancion) * entrega.precioKgAceite }}</td>
                <td>{{ entrega.procedencia.bonificacion * 100 }}</td>
                <td>{{ ((pesoAceituna * entrega.rendimiento) - sancion + (pesoAceituna * entrega.procedencia.bonificacion)) * entrega.precioKgAceite }}</td>
                <td>
                    <a href="#" class="btn btn-xs btn-success col-sm-6" title="Listado de fincas del socio">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                    </a>
                    <a href="#" class="btn btn-xs btn-info col-sm-6" title="Modificar datos del socio">
                        <i class="fa fa-pencil"></i>
                    </a>
                    <a href="#" class="btn btn-xs btn-danger col-sm-6" title="Dar de baja">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}