{% extends 'layout.html.twig' %}

{% block title %}Entregas{% endblock %}

{% block section %}
    <div class="container">
        <div class="well">
            <h2>Entregas socio: {{ socio }}</h2>
            <div class="division"></div>
            <h2>Temporada: {{ temporada }}</h2>
        </div>
        {% if is_granted('ROLE_ENCARGADO') %}
            <a href="{{ path('socios_listar') }}" class="btn btn-default btnAceptar">
                <i class="fa fa-chevron-left"></i> Volver
            </a>
        {% else %}
            <a href="{{ path('principal') }}" class="btn btn-default btnAceptar">
                <i class="fa fa-home"></i> Ir a inicio
            </a>
        {% endif %}
    </div>
    <div class="container well">
        <table class="table table-responsive">
            <thead>
            <tr>
                <th>Nº</th>
                <th class="col-sm-3 sortable">
                    {{ knp_pagination_sortable(pagination, 'Fecha', 'a.fecha') }}
                </th>
                <th>Kg Aceituna</th>
                <th>Sanción</th>
                <th>Rendimiento %</th>
                <th>Kg Aceite</th>
                <th>Procedencia %</th>
                <th>Aceite</th>
                {% if is_granted('ROLE_SOCIO') %}
                <th></th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for entrega in pagination %}
                {% if is_granted('ROLE_SOCIO') %}
                    <tr class="clickable-row">
                {% else %}
                    <tr>
                {% endif %}
                    <td>{{ entrega.id }}</td>
                    <td>{{ entrega.fecha|date('d/m/Y') }}</td>
                    <td>
                        {% if socio.id == entrega.finca.propietario.id %}
                            {% set pesoAceituna = entrega.peso * entrega.finca.partPropietario %}
                        {% else %}
                            {%  set pesoAceituna = entrega.peso * entrega.finca.partArrend %}
                        {% endif %}
                        {{ pesoAceituna }}
                    </td>
                    <td>{% if entrega.sancion != null %}
                            {% set sancion = pesoAceituna * entrega.sancion %}
                        {% else %}
                            {% set sancion = 0 %}
                        {% endif %}
                        - {{ sancion }}
                    </td>
                    <td>{{ entrega.rendimiento * 100 }}</td>
                    <td>{{ (pesoAceituna - sancion) * entrega.rendimiento }}</td>
                    <td>{{ entrega.procedencia}}</td>
                    <td>
                        {% if entrega.lote != null %}
                            {{ entrega.lote.aceite }}
                        {% else %}
                            Sin analizar
                        {% endif %}
                    </td>
                    {% if is_granted('ROLE_SOCIO') %}
                    <td>
                        <a href="{{ path('entregas_detalle', {'entrega' : entrega.id, 'socio' : socio.id}) }}" class="btn btn-default btnAceptar btnOculto">
                            <i class="fa fa-balance-scale"></i> Detalle
                        </a>
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="container">
        <div class="col-md-6 col-md-offset-3">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
    {% block javascripts %}
        <script src="{{ asset('script/seleccionar_fila.js') }}"></script>
    {% endblock %}
{% endblock %}