{% form_theme formulario 'bootstrap_3_layout.html.twig' %}
{% extends 'layout.html.twig' %}

{% block title %}Socios{% endblock %}

{% block section %}
    {% include 'flash.html.twig' %}
    <div class="container">
        <h3 class="well">
            {% if socio != false %}
                Modificar socio
            {% else %}
                Nuevo socio
            {% endif %}
        </h3>
        {{ form_start(formulario) }}
        {{ form_widget(formulario) }}
            <div class="form-group">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    <button type="submit" name="enviar" class="btn btn-default btnAceptar">
                        <i class="fa fa-check"></i> Aceptar
                    </button>
                    <a href="{{ path('socios_listar') }}" class="btn btn-default btnCancelar">
                        <i class="fa fa-times"></i> Cancelar
                    </a>
                </div>
            </div>
        {{ form_end(formulario) }}
    </div>
    {% block javascripts %}
        <script src="{{ asset('script/flash.js') }}"></script>
    {% endblock %}
{% endblock %}