{% extends 'layout.html.twig' %}

{% block title %}Socios{% endblock %}

{% block section %}
    <div class="container">
        <h2>Socios</h2>
        <a href="{{ path('principal') }}" class="btn btn-default">
            <i class="fa fa-home"></i> Ir a principal
        </a>
        <a href="{{ path('socios_nuevo') }}" class="btn btn-default">
            <i class="fa fa-plus"></i> Nuevo socio
        </a>
    </div>
    <div class="container">
        <table class="table table-bordered table-striped table-hover table-responsive">
            <thead>
            <tr>
                <th>Nº Socio</th>
                <th>NIF</th>
                <th>Socio</th>
                <th>Dirección</th>
                <th>Teléfono</th>
                <th>Nº Plantas</th>
                <th>Fecha de alta</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for socio in socios %}
                <tr>
                    <td>{{ socio.id }}</td>
                    <td>{{ socio.usuario.nif }}</td>
                    <td>{{ socio.usuario.apellidos }}, {{ socio.usuario.nombre }}</td>
                    <td>
                        {{ socio.usuario.direccion }} - {{socio.usuario.localidad}} ({{ socio.usuario.provincia }})
                    </td>
                    <td>{{ socio.usuario.telefono}}</td>
                    <td>{% set sum = 0 %}
                        {% for i in socio.fincasPropiedad %}
                            {% set sum = sum + i.numPlantas %}
                        {% endfor %}{{ sum }}
                </td>
                    <td>{{ socio.fechaAlta|date('d/m/Y') }}</td>
                    <td>
                        <a href="{{ path('socios_modificar', {'socio' : socio.id }) }}" class="btn btn-default">
                            <i class="fa fa-pencil"></i> Modificar datos
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}