{% extends 'layout.html.twig' %}

{% block title %}Socios{% endblock %}

{% block section %}
    {% include 'flash.html.twig' %}
    <div class="container">
        <div class="well">
            {% if baja == true %}
                <h2>Socios dados de baja</h2>
            {% else %}
                <h2>Socios</h2>
            {% endif %}
        </div>
        {% if baja != false %}
            <a href="{{ app.request.headers.get('referer') }}" class="btn btn-default btnAceptar">
                <i class="fa fa-chevron-left"></i> Volver
            </a>
        {% else %}
            <a href="{{ path('principal') }}" class="btn btn-default btnAceptar">
                <i class="fa fa-home"></i> Ir a inicio
            </a>
        {% endif %}
        {% if is_granted('ROLE_ADMINISTRADOR') %}
            <a href="{{ path('socios_nuevo') }}" class="btn btn-default btnAceptar">
                <i class="fa fa-plus"></i> Nuevo socio
            </a>
            {% if baja == false %}
                <a href="{{ path('socios_listar_baja') }}" class="btn btn-default btnAceptar">
                    <i class="fa fa-recycle"></i> Reactivar socio
                </a>
            {% endif %}
        {% endif %}
    </div>
    <div class="container well">
        <table class="table table-responsive">
            <thead>
            <tr>
                <th>Nº</th>
                <th>NIF</th>
                <th>Socio</th>
                <th>Dirección</th>
                <th>Teléfono</th>
                <th>Nº Plantas</th>
                <th>Fecha de alta</th>
                {% if baja == true %}
                    <th>Fecha de baja</th>
                {% endif %}
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% set parametro = 0 %}
            {% set nombre = '' %}
            {% for socio in socios %}
                {% if socio.usuario.email != null %}
                    <tr title="{{ socio.usuario.email }}" class="clickable-row">
                {% else %}
                    <tr title="No tiene email" class="clickable-row">
                {% endif %}
                    <td>{{ socio.id }}</td>
                    <td>{{ socio.usuario.nif }}</td>
                    <td>{{ socio.usuario.apellidos }}, {{ socio.usuario.nombre }}</td>
                    <td>
                        {{ socio.usuario.direccion }} - {{socio.usuario.localidad}} ({{ socio.usuario.provincia }})
                    </td>
                    <td>{{ socio.usuario.telefono}}</td>
                    <td>{% set sum = 0 %}
                        {% for i in socio.fincasPropiedad %}
                            {% set sum = sum + i.numPlantas %}
                        {% endfor %}{{ sum }}
                </td>
                    <td>{{ socio.fechaAlta|date('d/m/Y') }}</td>
                    {% if baja == true %}
                        <td>{{ socio.fechaBaja|date('d/m/Y') }}</td>
                    {% endif %}
                    {% if is_granted('ROLE_ADMINISTRADOR') and baja == false %}
                    <td>
                        <a href="{{ path('socios_modificar', {'socio' : socio.id }) }}" class="btn btn-default btnAceptar btnOculto" title="Modificar datos">
                            <i class="fa fa-pencil"></i>
                        </a>
                        {% set parametro = socio.id %}
                        {% set nombre = socio.usuario %}
                        <a type="button" class="btn btn-default btnAceptar btnOculto" data-toggle="modal" data-target="#{{ socio.id }}">
                            <i class="fa fa-trash"></i>
                        </a>
                        <a href="{{ path('socios_pass', {'socio' : socio.id }) }}" class="btn btn-default btnAceptar btnOculto" title="Restablecer contraseña">
                            <i class="fa fa-key"></i>
                        </a>
                    </td>
                    {% endif %}
                    {% if is_granted('ROLE_ENCARGADO') and baja == false %}
                        <td>
                            <a href="{{ path('entregas_listar_socio', {'socio' : socio.id }) }}" class="btn btn-default btnAceptar btnOculto" title="Ir a las entregas de este socio">
                                <i class="fa fa-balance-scale"></i>
                            </a>
                        </td>
                    {% endif %}
                    {% if is_granted('ROLE_ADMINISTRADOR') and baja == true %}
                        <td>
                            <a href="{{ path('socios_reactivar', {'socio' : socio.id }) }}" class="btn btn-default btnAceptar btnOculto" title="Reactivar">
                                <i class="fa fa-recycle"></i>
                            </a>
                        </td>
                    {% endif %}
                </tr>

                <!-- Ventana modal -->
                <div class="modal fade" id="{{ socio.id }}" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Vas a eliminar al socio {{ socio }}</h4>
                            </div>
                            <div class="modal-body">
                                <p>¿Deseas continuar?</p>
                            </div>
                            <div class="modal-footer">
                                <form action="{{ path('confirmar_socios_eliminar', {'socio' : socio.id}) }}" method="post" name="confirmar">
                                    <button type="submit" name="aceptar" class="btn btn-default btnAceptar">
                                        <i class="fa fa-check"></i> Aceptar
                                    </button>
                                    <button type="button" name="cancelar" class="btn btn-default btnCancelar" data-dismiss="modal">
                                        <i class="fa fa-times"></i> Cancelar
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% block javascripts %}
        <script src="{{ asset('script/flash.js') }}"></script>
        <script src="{{ asset('script/seleccionar_fila.js') }}"></script>
    {% endblock %}
{% endblock %}