{% extends 'layout.html.twig' %}

{% block title %}Lotes{% endblock %}

{% block section %}
    <div class="container">
        <div class="well">
            <h2>Lotes</h2>
            <div class="division"></div>
            <h3>Temporada: {{ temporada }}</h3>
        </div>
        <a href="{{ path('principal') }}" class="btn btn-default btnAceptar">
            <i class="fa fa-home"></i> Ir a principal
        </a>
    </div>
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th>Lote</th>
                <th>Cantidad</th>
                <th>Stock</th>
                <th>Aceite</th>
                <th>Entregas</th>
                <th>Fincas</th>
            </tr>
            </thead>
            <tbody>
            {% for lote in lotes %}
                <tr>
                    <td>{{ lote }}</td>
                    <td>{{ lote.cantidad }}</td>
                    <td>{{ lote.stock }}</td>
                    <td>{% if lote.aceite != null %}
                            {{ lote.aceite }}
                        {% else %}
                            Sin analizar
                        {% endif %}
                    </td>
                    <td>
                        {% if lote.cantidad != 0 %}
                            <a href="{{ path('entregas_listar_lote', {'lote': lote.id }) }}" class="btn btn-default btnAceptar">
                                Entregas del lote
                            </a>
                        {% else %}
                            Lote vacío
                        {% endif %}
                    </td>
                    <td>
                        {% if lote.cantidad != 0 %}
                            <a href="{{ path('fincas_listar_lote', {'lote': lote.id }) }}" class="btn btn-default btnAceptar">
                                Fincas del lote
                            </a>
                        {% else %}
                            Lote vacío
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}