{% extends 'layout.html.twig' %}

{% block title %}Lotes{% endblock %}

{% block section %}
    <div class="container">
        <h2>Listado de lotes</h2>
        <h2>Temporada: {{ temporada }}</h2>
    </div>
    <div class="container">
        <table class="table table-bordered table-striped table-hover">
            <thead>
            <tr>
                <th>Lote</th>
                <th>Cantidad</th>
                <th>Stock</th>
                <th>Aceite</th>
                <th>Entregas</th>
                <th>Partidas</th>
                <th>Fincas</th>
            </tr>
            </thead>
            <tbody>
            {% for lote in lotes %}
                <tr>
                    <td>{{ lote }}</td>
                    <td>{{ lote.cantidad }}</td>
                    <td>{{ lote.stock }}</td>
                    <td>{% if lote.aceite != null %}
                            {{ lote.aceite }}
                        {% else %}
                            Sin analizar
                        {% endif %}
                    </td>
                    <td>
                        <a href="">enlace</a>
                    </td>
                    <td>
                        <select name="slPartidas" id="slPartidas">
                            <option value="0"></option>
                            {% for partida in lote.partidas %}
                                <option value="{{ partida.id }}" >{{ partida.id }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <select name="slFincas" id="slFincas">
                            <option value="0"></option>
                            {% for partida in lote.partidas %}
                                {% for entrega in partida.entregas %}
                                    <option value="{{ entrega.finca.id }}" title="Propietario: {{ entrega.finca.propietario }}">{{ entrega.finca.provincia }} {{ entrega.finca.municipio }} {{ entrega.finca.sector }} {{ entrega.finca.poligono }} {{ entrega.finca.parcela }} {{ entrega.finca.idInmueble }} {{ entrega.finca.caracterControl }}</option>
                                {% endfor %}
                            {% endfor %}
                        </select>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}