{% extends 'layout.html.twig' %}

{% block title %}Lotes{% endblock %}

{% block section %}
    <h1>Listado de lotes</h1>
    <!--<a href="#" class="btn btn-success"><i class="fa fa-plus"></i> Añadir alumno</a>




    -->
    <p></p>
    <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th>Lote</th>
            <th>Cantidad</th>
            <th>Stock</th>
            <th>Aceite</th>
            <th>Partidas</th>
            <th>Fincas</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for lote in lotes %}
            <tr>
                <td>{{ lote.id }}-{{ lote.temporada }}</td>
                <td>{{ lote.cantidad }}</td>
                <td>{{ lote.stock }}</td>
                <td>{% if lote.aceite != null %}
                        {{ lote.aceite }}
                    {% else %}
                        Sin analizar
                    {% endif %}
                </td>
                <td>
                    <select name="slPartidas" id="slPartidas">
                        <option value="0"></option>
                        {% for partida in lote.partidas %}
                            <option value="{{ partida.id }}" >{{ partida.id }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select name="slFincas" id="slFincas">
                        <option value="0"></option>
                        {% for partida in lote.partidas %}
                            {% for entrega in partida.entregas %}
                                <option value="{{ entrega.finca.id }}" title="Propietario: {{ entrega.finca.propietario }}">{{ entrega.finca.provincia }} {{ entrega.finca.municipio }} {{ entrega.finca.sector }} {{ entrega.finca.poligono }} {{ entrega.finca.parcela }} {{ entrega.finca.idInmueble }} {{ entrega.finca.caracterControl }}</option>
                            {% endfor %}
                        {% endfor %}
                    </select>
                </td>
                <td>
                <td>
                    <a href="#" class="btn btn-xs btn-success col-sm-6" title="Listado de fincas del socio">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                    </a>
                    <a href="#" class="btn btn-xs btn-info col-sm-6" title="Modificar datos del socio">
                        <i class="fa fa-pencil"></i>
                    </a>
                    <a href="#" class="btn btn-xs btn-danger col-sm-6" title="Dar de baja">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}